Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Added testing for Availability Zones
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
Due: none

Update param to be of range
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/deploy.bicep
  arm/Microsoft.Network/vpnGateways/natRules/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/connections/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

queue readme title
  arm/Microsoft.ServiceBus/namespaces/queues/readme.md
Due: none

Added version files
  arm/Microsoft.Authorization/roleAssignments/managementGroups/version.json
  arm/Microsoft.Authorization/roleAssignments/resourceGroups/version.json
  arm/Microsoft.Authorization/roleAssignments/subscriptions/version.json
Due: none

Updated dependency pipeline
  .azuredevops/modulePipelines/ms.authorization.roleassignments.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
  constructs/Microsoft.Authorization/roleAssignments-multiRolesMultiPrincipals/.bicep/nested_rbac.bicep
Due: none

Revert decorator and readme to use allowed values rather than range
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fixes
  arm/Microsoft.Network/applicationGateways/.parameters/parameters.json
  arm/Microsoft.Network/applicationGateways/deploy.bicep
  arm/Microsoft.Network/applicationGateways/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix
  arm/Microsoft.Network/applicationGateways/.parameters/parameters.json
Due: none

Update to latest
  arm/Microsoft.Authorization/policyAssignments/resourceGroups/readme.md
Due: none

Fixed dependency pipeline
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
Due: none

nested rbac api version
  arm/Microsoft.Automation/automationAccounts/.bicep/nested_rbac.bicep
Due: none

encryption removed
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
Due: none

roleAssignments@2021-04-01-preview
  arm/Microsoft.Automation/automationAccounts/.bicep/nested_rbac.bicep
Due: none

Update ServiceBus module to use topics and topics authorizationRules (#1028)
  arm/Microsoft.ServiceBus/namespaces/.parameters/parameters.json
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/readme.md
  arm/Microsoft.ServiceBus/namespaces/topics/.bicep/nested_cuaId.bicep
  arm/Microsoft.ServiceBus/namespaces/topics/.bicep/nested_rbac.bicep
  arm/Microsoft.ServiceBus/namespaces/topics/authorizationRules/.bicep/nested_cuaId.bicep
  arm/Microsoft.ServiceBus/namespaces/topics/authorizationRules/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/topics/authorizationRules/readme.md
  arm/Microsoft.ServiceBus/namespaces/topics/authorizationRules/version.json
  arm/Microsoft.ServiceBus/namespaces/topics/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/topics/readme.md
  arm/Microsoft.ServiceBus/namespaces/topics/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/connections/deploy.bicep
  arm/Microsoft.Network/vpnGateways/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/.parameters/min.parameters.json
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
  arm/Microsoft.Network/vpnGateways/connections/deploy.bicep
  arm/Microsoft.Network/vpnGateways/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
Due: none

Update to latest
  .azuredevops/modulePipelines/ms.network.vpnGateways.yml
  .github/workflows/ms.network.vpngateways.yml
Due: none

Update to latest
  .azuredevops/modulePipelines/ms.network.vpnGateways.yml
Due: none

Update to latest
  arm/Microsoft.Network/vpnGateways/connections/deploy.bicep
  arm/Microsoft.Network/vpnGateways/connections/readme.md
  arm/Microsoft.Network/vpnGateways/deploy.bicep
  arm/Microsoft.Network/vpnGateways/natRules/deploy.bicep
  arm/Microsoft.Network/vpnGateways/natRules/readme.md
  arm/Microsoft.Network/vpnGateways/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
Due: none

Added missing version file
  arm/Microsoft.Network/vpnGateways/connections/version.json
  arm/Microsoft.Network/vpnGateways/natRules/version.json
Due: none

Update to latest
  arm/Microsoft.Network/vpnGateways/connections/deploy.bicep
  arm/Microsoft.Network/vpnGateways/deploy.bicep
  arm/Microsoft.Network/vpnGateways/natRules/deploy.bicep
  arm/Microsoft.Network/vpnGateways/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/.parameters/min.parameters.json
  arm/Microsoft.Network/vpnGateways/deploy.bicep
  arm/Microsoft.Network/vpnGateways/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/deploy.bicep
  arm/Microsoft.Network/vpnGateways/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

initial commit for adding testing policy def
  .github/workflows/ms.authorization.policydefinitions.yml
  arm/Microsoft.Authorization/policyDefinitions/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/policyDefinitions/.parameters/mg.parameters.json
  arm/Microsoft.Authorization/policyDefinitions/.parameters/sub.min.parameters.json
  arm/Microsoft.Authorization/policyDefinitions/.parameters/sub.parameters.json
  arm/Microsoft.Authorization/policyDefinitions/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/managementGroups/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/subscriptions/deploy.bicep
Due: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Fix script + add back default
  arm/Microsoft.Compute/virtualMachines/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

update policy definitions
  arm/Microsoft.Authorization/policyDefinitions/.parameters/mg.parameters.json
Due: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml

Rewrite of the AppGW module (#1026)
  arm/Microsoft.Network/applicationGateways/.parameters/parameters.json
  arm/Microsoft.Network/applicationGateways/deploy.bicep
  arm/Microsoft.Network/applicationGateways/readme.md
  arm/Microsoft.Network/applicationGateways/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none
