Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

fix module (#1123)
  arm/Microsoft.Insights/scheduledQueryRules/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Adding new properties to AKS (#1124)
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
  arm/Microsoft.ContainerService/managedClusters/readme.md
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  utilities/tools/Test-NamePrefixAvailability.ps1
Due: none

Update to latest
  utilities/tools/Test-ModuleLocally.ps1
  utilities/tools/Test-NamePrefixAvailability.ps1
Due: none

Update .azuredevops/platformPipelines/platform.dependencies.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Wiki Restructuring: Getting Started (#1098)
  .azuredevops/pipelineVariables/global.variables.yml
  docs/wiki/Getting started - Consume library.md
  docs/wiki/Getting started - Dependency pipeline.md
  docs/wiki/Getting started - Prerequisites.md
  docs/wiki/Getting started - Setup environment.md
  docs/wiki/Getting started - Token replacement.md
  docs/wiki/Getting started.md
  docs/wiki/Home.md
  docs/wiki/Solution creation.md
  docs/wiki/The CI environment - Token replacement.md
  docs/wiki/The library - Module usage.md
  docs/wiki/media/SetupEnvironment/actionsEnable.png
  docs/wiki/media/SetupEnvironment/downloadZipLatest.png
  docs/wiki/media/SetupEnvironment/downloadZipRelease.png
  docs/wiki/media/SetupEnvironment/forkSettings.png
  docs/wiki/media/SetupEnvironment/forkSettingsSecretAdd.png
  docs/wiki/media/SetupEnvironment/forkSettingsSecrets.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Getting started - Setup environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Getting started - Check NamePrefix availability.md
  utilities/tools/Test-NamePrefixAvailability.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Add ASG and LB input on VM Nic (#1092)
  arm/.global/global.module.tests.ps1
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
Due: none

Added script to check prefix (#1125)
  docs/wiki/Getting started - Check NamePrefix availability.md
  docs/wiki/Getting started - Setup environment.md
  utilities/tools/Test-ModuleLocally.ps1
  utilities/tools/Test-NamePrefixAvailability.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  arm/Microsoft.ServiceFabric/clusters/deploy.bicep
  arm/Microsoft.ServiceFabric/clusters/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added readmes to current composite actions
  .github/actions/templates/getWorkflowInput/action.yml
  .github/actions/templates/publishModule/action.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/actions/templates/validateModulePester/action.yml
Due: none

Refactored dependencies to single file
  arm/Microsoft.AnalysisServices/servers/.dependencies/dep.parameters.bicep
  arm/Microsoft.Compute/virtualMachines/.dependencies/dep.linux.min.parameters.bicep
  arm/Microsoft.Compute/virtualMachines/.dependencies/dep.linux.parameters.bicep
  arm/Microsoft.Compute/virtualMachines/.dependencies/dep.parameters.bicep
  arm/Microsoft.Compute/virtualMachines/.dependencies/dep.windows.min.parameters.bicep
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.min.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.min.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
  arm/Microsoft.Network/virtualWans/.dependencies/dep.parameters.bicep
  arm/Microsoft.Network/virtualWans/.parameters/dep.parameters.bicep
Due: none

Introduced dependency construct
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  .github/actions/templates/validateModulePester/action.yml
  arm/.global/dependencyConstructs/diagnostic.dependencies.bicep
  arm/.global/shared/telemetryId.bicep
  arm/.global/tests/global.module.tests.ps1
  arm/.global/tests/helper.psm1
  arm/Microsoft.AnalysisServices/servers/.dependencies/dep.parameters.bicep
  arm/Microsoft.Compute/virtualMachines/.dependencies/dep.parameters.bicep
  docs/wiki/TestingDesign.md
  docs/wiki/TestingUsage.md
  utilities/tools/Test-ModuleLocally.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Started drafting new pipeline
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
  .azuredevops/pipelineTemplates/jobs.removal.yml
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

parameterupdate
  arm/Microsoft.OperationalInsights/workspaces/readme.md
Due: none

Aligned lock API versions across modules (#1129)
  arm/Microsoft.ServiceFabric/clusters/deploy.bicep
  arm/Microsoft.ServiceFabric/clusters/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updateReadme
  .github/variables/global.variables.json
  settings.json
Due: none

inital commit
  .azuredevops/modulePipelines/ms.network.frontdoors.yml
  arm/Microsoft.Network/frontDoors/.parameters/parameters.json
  arm/Microsoft.Network/frontDoors/deploy.bicep
  arm/Microsoft.Network/frontDoors/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

added scenario1
  Scenario 1/readme.md
Due: none

changed the name
  settings.json
Due: none

Initial deployment including web site
  deployments/scenario1/deploy.bicep
Due: none

deployed rg and vnet
  Scenario 1/cli.txt
  Scenario 1/deploy.bicep
Due: none

Add subnet delegation
  Scenario 1/deploy.bicep
Due: none

Update settings.json
  settings.json
Due: none

added app service
  Scenario 1/appservice.bicep
Due: none

updated outputs
  Scenario 1/appservice.bicep
Due: none

Added VNet
  deployments/scenario1/deploy.bicep
Due: none

add: app insights and log anayltics
  Scenario 1/appinsights-deploy.bicep
Due: none

Update RSG for Vnet to Shared
  deployments/scenario1/deploy.bicep
Due: none

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

update: outputs and dependsOn fields
  Scenario 1/appinsights-deploy.bicep
Due: none

vmscaleset
  deployments/scenario1/deploy.bicep
Due: none

here comes the log analytics code
  deployments/scenario1/deploy.bicep
Due: none

Add initial app insights code
  deployments/scenario1/deploy.bicep
Due: none

vm scaleset
  deployments/scenario1/deploy.bicep
Due: none

Initial commit.
  arm/Microsoft.DesktopVirtualization/scalingplans/.bicep/nested_rbac.bicep
  arm/Microsoft.DesktopVirtualization/scalingplans/.parameters/min.parameters.json
  arm/Microsoft.DesktopVirtualization/scalingplans/deploy.bicep
  arm/Microsoft.DesktopVirtualization/scalingplans/deploy.json
  arm/Microsoft.DesktopVirtualization/scalingplans/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Initial commit.
  .github/workflows/ms.desktopvirtualization.scalingplans.yml
Due: none
