Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml:
  name: Network - VirtualNetworkGateways
  stages:
  - stage: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.resources.resourcegroups.yml:
  name: Resources - ResourceGroups
  stages:
  - stage: Validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

fix
  arm/Microsoft.ContainerService/managedClusters/.parameters/azure.parameters.json
  arm/Microsoft.ContainerService/managedClusters/.parameters/kubenet.parameters.json
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

fix
  arm/Microsoft.ContainerService/managedClusters/readme.md
Due: none

add roles
  arm/Microsoft.ContainerService/managedClusters/.bicep/nested_rbac.bicep
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
Due: none

Resource Removal: Add resource Group support for mg level deployments (#1043)
  utilities/pipelines/resourceRemoval/helper/Get-DeploymentTargetResourceList.ps1
Due: none

Additions to NFS fileshares
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Test change on SA
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/version.json
Due: none

Testing diff with main
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: none

Fix accelerated networking (#1055)
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Rapid test of SA
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml
  .github/workflows/ms.storage.storageaccounts.yml
Due: none

Update arm/Microsoft.Authorization/policyAssignments/readme.md
  arm/Microsoft.Authorization/policyAssignments/readme.md
Due: none

updated policy assignments per feedback
  arm/Microsoft.Authorization/policyAssignments/.parameters/mg.parameters.json
  arm/Microsoft.Authorization/policyAssignments/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/readme.md
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

completed policy assignment
  arm/Microsoft.Authorization/policyAssignments/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/policyAssignments/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/policyAssignments/subscription/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/subscription/readme.md
  arm/Microsoft.Authorization/policyDefinitions/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/policyDefinitions/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/policyDefinitions/readme.md
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Test remote and branch
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: none

remove remote and branch
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: none

Replaced publish
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: none

Fake changed storage
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update ms.storage.storageaccounts.yml
  .github/workflows/ms.storage.storageaccounts.yml
Due: none

Update readme.md
  arm/Microsoft.AnalysisServices/servers/readme.md
Due: none

Update ms.analysisservices.servers.yml
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Update version.json
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/version.json
Due: none

revert api
  arm/Microsoft.Automation/automationAccounts/.bicep/nested_rbac.bicep
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/jobSchedules/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/modules/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.Automation/automationAccounts/runbooks/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/schedules/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/softwareUpdateConfigurations/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/variables/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

revert api link
  arm/Microsoft.Automation/automationAccounts/.bicep/nested_linkedService.bicep
  arm/Microsoft.OperationalInsights/workspaces/linkedServices/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update readme.md
  arm/Microsoft.Sql/servers/readme.md
Due: none

param
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/variables/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/linkedServices/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

param min
  arm/Microsoft.Automation/automationAccounts/.parameters/min.parameters.json
Due: none

aut readme
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

ADO dep pipeline
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Update Get-ModulesToPublish.ps1
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: none

appi law naming and docs
  arm/Microsoft.Insights/components/.parameters/parameters.json
  arm/Microsoft.Web/sites/.parameters/wa.parameters.json
  utilities/pipelines/dependencies/Microsoft.Insights/components/parameters/parameters.json
  utilities/pipelines/dependencies/Microsoft.OperationalInsights/workspaces/parameters/appi.parameters.json
Due: .azuredevops/modulePipelines/ms.insights.components.yml

docs
  docs/wiki/TestingDesign.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Test with head and some other logic
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: none

fetch
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: none

Update arm/Microsoft.ContainerService/managedClusters/deploy.bicep
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

test
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: none

fix
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Network/privateDnsZones/a/readme.md
  arm/Microsoft.Network/privateDnsZones/a/readme.md
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
