Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml:
  name: Network - VirtualNetworkGateways
  stages:
  - stage: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.resources.resourcegroups.yml:
  name: Resources - ResourceGroups
  stages:
  - stage: Validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

Added server farm dependency for web app
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Web/sites/.parameters/fa.min.parameters.json
  arm/Microsoft.Web/sites/.parameters/fa.parameters.json
  arm/Microsoft.Web/sites/.parameters/wa.min.parameters.json
  arm/Microsoft.Web/sites/.parameters/wa.parameters.json
  utilities/pipelines/dependencies/Microsoft.Web/serverfarms/parameters.json
Due: none

Removed role assignment from dependency
  utilities/pipelines/dependencies/Microsoft.Web/serverfarms/parameters.json
Due: none

Updated server farm
  utilities/pipelines/dependencies/Microsoft.Web/serverfarms/parameters.json
Due: none

Updated logs
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/sites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

cleanu
  arm/Microsoft.Insights/diagnosticSettings/deploy.bicep
  arm/Microsoft.Insights/diagnosticSettings/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Compute/virtualMachineScaleSets/deploy.bicep
  arm/Microsoft.Compute/virtualMachineScaleSets/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.DesktopVirtualization/applicationgroups/deploy.bicep
  arm/Microsoft.DesktopVirtualization/applicationgroups/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/applicationGateways/deploy.bicep
  arm/Microsoft.Network/applicationGateways/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/loadBalancers/deploy.bicep
  arm/Microsoft.Network/loadBalancers/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated VM
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface_publicIPAddress.bicep
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Several fixes
  arm/Microsoft.DesktopVirtualization/hostpools/deploy.bicep
  arm/Microsoft.DesktopVirtualization/workspaces/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/deploy.bicep
  arm/Microsoft.Logic/workflows/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Operational insight read me (#1133)
  arm/Microsoft.OperationalInsights/workspaces/readme.md
Due: none

Update to latest
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/sites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Undid unitended changes
  docs/wiki/The library - Module usage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Removed todos
  arm/Microsoft.Web/sites/.parameters/fa.min.parameters.json
  arm/Microsoft.Web/sites/.parameters/fa.parameters.json
  arm/Microsoft.Web/sites/.parameters/wa.min.parameters.json
  arm/Microsoft.Web/sites/.parameters/wa.parameters.json
Due: none

Extended deployment name$inputObject = @(
  docs/wiki/The library - Module usage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/The library - Module usage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added additional details
  docs/wiki/The library - Module usage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated examples
  docs/wiki/The library - Module usage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added example
  arm/Microsoft.Network/virtualNetworks/readme.md
Due: none

Undid unrelated change
  docs/wiki/The library - Module usage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  .github/actions/templates/getWorkflowInput/action.yml
Due: none

Update to latest
  .github/actions/templates/getWorkflowInput/action.yml
  .github/actions/templates/publishModule/action.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/actions/templates/validateModulePester/action.yml
Due: none

VNET: Added example for VNET subnet parameter (#1166)
  arm/Microsoft.Network/virtualNetworks/readme.md
Due: none

storage account readme update
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

blob
  arm/Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies/readme.md
  arm/Microsoft.Storage/storageAccounts/blobServices/containers/readme.md
  arm/Microsoft.Storage/storageAccounts/blobServices/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

shares
  arm/Microsoft.Storage/storageAccounts/fileServices/readme.md
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/readme.md
Due: none

mgmt policies
  arm/Microsoft.Storage/storageAccounts/managementPolicies/readme.md
Due: none

queues
  arm/Microsoft.Storage/storageAccounts/queueServices/queues/readme.md
  arm/Microsoft.Storage/storageAccounts/queueServices/readme.md
Due: none

tables
  arm/Microsoft.Storage/storageAccounts/tableServices/readme.md
  arm/Microsoft.Storage/storageAccounts/tableServices/tables/readme.md
Due: none

newSectionContent
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

update module parameter categories retrieval
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Scalingplan fixes from PR comments.
  .azuredevops/modulePipelines/ms.desktopvirtualization.scalingplans.yml
  README.md
  arm/Microsoft.DesktopVirtualization/scalingplans/deploy.bicep
  arm/Microsoft.DesktopVirtualization/scalingplans/readme.md
  arm/README.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
