Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Microsoft.ApiManagement-Service Min Param file Ad
  arm/Microsoft.ApiManagement/service/.parameters/min.parameters.json
Due: none

fix
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

add description
  arm/Microsoft.ContainerRegistry/registries/readme.md
Due: none

add paramter
  arm/Microsoft.ContainerRegistry/registries/.parameters/parameters.json
Due: none

test
  arm/Microsoft.ContainerRegistry/registries/.parameters/parameters.json
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/replications/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Testing encryption automation account
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml
  .github/workflows/ms.automation.automationaccounts.yml
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
  arm/Microsoft.Automation/automationAccounts/readme.md
  utilities/pipelines/dependencies/Microsoft.KeyVault/vaults/parameters/parameters.json
Due: none

fix
  arm/Microsoft.ContainerRegistry/registries/.parameters/parameters.json
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed bug Microsoft.Keyvault
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
Due: none

test
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
Due: none

test
  arm/Microsoft.ContainerRegistry/registries/.parameters/parameters.json
Due: none

Update arm/Microsoft.Network/vpnGateways/.parameters/min.parameters.json
  arm/Microsoft.Network/vpnGateways/.parameters/min.parameters.json
Due: none

Update arm/Microsoft.Network/vpnGateways/deploy.bicep
  arm/Microsoft.Network/vpnGateways/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Network/vpnGateways/connections/deploy.bicep
  arm/Microsoft.Network/vpnGateways/connections/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Network/vpnGateways/natRules/deploy.bicep
  arm/Microsoft.Network/vpnGateways/natRules/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/connections/deploy.bicep
  arm/Microsoft.Network/vpnGateways/connections/readme.md
  arm/Microsoft.Network/vpnGateways/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update docs/wiki/Interoperability - Transition to Azure DevOps Pipelines.md
  docs/wiki/Interoperability - Transition to Azure DevOps Pipelines.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update docs/wiki/Interoperability.md
  docs/wiki/Interoperability.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

rename
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
Due: none

contribution env setup
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Contribution guide.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

KeyVault: Updated roles (#1065)
  arm/Microsoft.KeyVault/vaults/.bicep/nested_rbac.bicep
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.KeyVault/vaults/keys/deploy.bicep
  arm/Microsoft.KeyVault/vaults/secrets/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

register ADO
  docs/wiki/Home.md
  docs/wiki/Interoperability - Register Azure DevOps Pipelines.md
  docs/wiki/Interoperability.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

register ADO p
  docs/wiki/Home.md
  docs/wiki/Interoperability.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added settings on ipConfiguration for nic to accept asg and LB
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
Due: none

Added link between NFS fileshare and fileserivces
  arm/Microsoft.Storage/storageAccounts/blobServices/readme.md
  arm/Microsoft.Storage/storageAccounts/fileServices/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/fileServices/readme.md
  arm/Microsoft.Storage/storageAccounts/queueServices/readme.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Establishing the LB for internal LB
  arm/Microsoft.Network/loadBalancers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

VPN Gateway: Added module (#1068)
  .azuredevops/modulePipelines/ms.network.vpnGateways.yml
  .github/workflows/ms.network.vpngateways.yml
  arm/Microsoft.Network/vpnGateways/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/vpnGateways/.parameters/min.parameters.json
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
  arm/Microsoft.Network/vpnGateways/connections/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/vpnGateways/connections/deploy.bicep
  arm/Microsoft.Network/vpnGateways/connections/readme.md
  arm/Microsoft.Network/vpnGateways/connections/version.json
  arm/Microsoft.Network/vpnGateways/deploy.bicep
  arm/Microsoft.Network/vpnGateways/natRules/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/vpnGateways/natRules/deploy.bicep
  arm/Microsoft.Network/vpnGateways/natRules/readme.md
  arm/Microsoft.Network/vpnGateways/natRules/version.json
  arm/Microsoft.Network/vpnGateways/readme.md
  arm/Microsoft.Network/vpnGateways/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

Wiki restructuring - interoperability (#1074)
  docs/wiki/Home.md
  docs/wiki/Interoperability - Bicep to ARM conversion.md
  docs/wiki/Interoperability - Register ADO pipelines.md
  docs/wiki/Interoperability - Register Azure DevOps Pipelines.md
  docs/wiki/Interoperability.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

encr param update
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
Due: none
