Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

reset the fileServices
  arm/Microsoft.Storage/storageAccounts/fileServices/readme.md
Due: none

Update SQL MI (#1076)
  arm/Microsoft.Sql/managedInstances/.parameters/parameters.json
  arm/Microsoft.Sql/managedInstances/deploy.bicep
  arm/Microsoft.Sql/managedInstances/encryptionProtector/readme.md
  arm/Microsoft.Sql/managedInstances/readme.md
  arm/Microsoft.Sql/managedInstances/securityAlertPolicies/readme.md
  arm/Microsoft.Sql/managedInstances/vulnerabilityAssessments/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test
  arm/Microsoft.ContainerRegistry/registries/.parameters/parameters.json
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/replications/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

removed vnet property
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

validate
  docs/wiki/Contribution guide - Contribution flow.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

fix workflow reference
  .github/workflows/ms.network.virtualhubs.yml
  .github/workflows/ms.network.vpngateways.yml
Due: none

fix workflow title
  .github/workflows/ms.network.virtualhubs.yml
  .github/workflows/ms.network.vpngateways.yml
Due: none

ADO file rename
  .azuredevops/modulePipelines/ms.network.vpngateways2.yml
Due: none

namew fix ADO
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml
  .azuredevops/modulePipelines/ms.network.vpngateways.yml
Due: none

Update ms.analysisservices.servers.yml
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
Due: none

Update ms.analysisservices.servers.yml
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Update max.parameters.json
  arm/Microsoft.AnalysisServices/servers/.parameters/max.parameters.json
Due: none

test
  arm/Microsoft.ContainerRegistry/registries/replications/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added test case for NFS4.1
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml
  .github/workflows/ms.storage.storageaccounts.yml
  arm/Microsoft.Storage/storageAccounts/.parameters/nfs.parameters.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

Fix typo for new module workflows (#1080)
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml
  .azuredevops/modulePipelines/ms.network.vpngateways.yml
  .github/workflows/ms.network.virtualhubs.yml
  .github/workflows/ms.network.vpngateways.yml
Due: none

Microsoft.AnalysisServices-Servers-Max param file (#1073)
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
  .github/workflows/ms.analysisservices.servers.yml
  arm/Microsoft.AnalysisServices/servers/.parameters/max.parameters.json
Due: none

home index
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

contrib flow full
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/media/badgeDropdown.png
  docs/wiki/media/carmlStatusBadge.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

assignee
  docs/wiki/Contribution guide - Contribution flow.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

VNET: Removed subnet property from main deployment (#1081)
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Push updated Readme file(s)
  README.md
Due: none

Added rbac description property
  arm/Microsoft.AnalysisServices/servers/.bicep/nested_rbac.bicep
  arm/Microsoft.AnalysisServices/servers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Add publicNetworkAccess
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

fix
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

Wiki restructuring - Contribution guide (#1084)
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Contribution guide - Generate module readme.md
  docs/wiki/Contribution guide - Get formatted RBAC roles.md
  docs/wiki/Contribution guide.md
  docs/wiki/Home.md
  docs/wiki/media/badgeDropdown.png
  docs/wiki/media/carmlStatusBadge.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Test requireInfraEnc
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

shuffle around on vars and properties
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Test
  .github/workflows/ms.storage.storageaccounts.yml
Due: none

test
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

test reqInfraEnc false
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

Test publicNetowkrAccess property
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml
