Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml:
  name: Network - VirtualNetworkGateways
  stages:
  - stage: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.resources.resourcegroups.yml:
  name: Resources - ResourceGroups
  stages:
  - stage: Validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

cond need 2
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

cond need 3
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

cond need equal
  .github/workflows/ms.analysisservices.servers.yml
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

remove version
  arm/Microsoft.Resources/resourceGroups/version.json
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

version back
  arm/Microsoft.Resources/resourceGroups/version.json
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

format readme.md
  arm/Microsoft.Sql/servers/readme.md
Due: none

carml token
  .github/variables/global.variables.json
  settings.json
Due: none

acr name token
  .github/variables/global.variables.json
Due: none

Update to latest
  docs/wiki/Getting started - Dependency pipeline.md
  docs/wiki/Getting started - Prerequisites.md
  docs/wiki/Getting started - Register-AzureDevOpsPipeline.md
  docs/wiki/Getting started - Setup environment.md
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Getting started - Consume library.md
  docs/wiki/Getting started - ConvertTo-ARMTemplate.md
  docs/wiki/Getting started - Setup environment.md
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Getting started - Consume library.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

updated template path to root, added mg level + param name fix
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

restoring original subnet config in the vnet
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  docs/wiki/Getting started - Consume library.md
  docs/wiki/media/SetupEnvironment/downloadZipLatest.png
  docs/wiki/media/SetupEnvironment/downloadZipRelease.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

fix
  constructs/Microsoft.ContainerInstance/scenario A/cluster.bicep
Due: none

Update to latest
  docs/wiki/Build a solution.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Getting started - Consume library.md
  docs/wiki/Getting started - ConvertTo-ARMTemplate.md
  docs/wiki/Getting started - Register-AzureDevOpsPipeline.md
  docs/wiki/Getting started - Setup environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added local example
  docs/wiki/Build a solution.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

test
  constructs/Microsoft.ContainerInstance/cluster.bicep
  constructs/Microsoft.ContainerInstance/scenario A/cluster.bicep
  constructs/Microsoft.ContainerInstance/scenario A/cluster.parameters.json
  constructs/Microsoft.ContainerInstance/scenario A/platform.bicep
  constructs/Microsoft.ContainerInstance/scenario A/platform.parameters.json
Due: none

fix
  constructs/Microsoft.ContainerInstance/scenarioA/cluster.bicep
  constructs/Microsoft.ContainerInstance/scenarioA/cluster.parameters.json
  constructs/Microsoft.ContainerInstance/scenarioA/platform.bicep
  constructs/Microsoft.ContainerInstance/scenarioA/platform.parameters.json
Due: none

fix
  constructs/Microsoft.ContainerInstance/scenarioA/cluster.bicep
  constructs/Microsoft.ContainerInstance/scenarioA/cluster.parameters.json
  constructs/Microsoft.ContainerInstance/scenarioA/platform.bicep
Due: none

fix
  constructs/Microsoft.ContainerInstance/scenarioA/platform.bicep
Due: none

fix
  constructs/Microsoft.ContainerInstance/scenarioA/cluster.bicep
  constructs/Microsoft.ContainerInstance/scenarioA/cluster.parameters.json
Due: none

remove
  constructs/Microsoft.ContainerInstance/scenarioA/cluster.bicep
Due: none

added secrets generation in keyvault
  constructs/Microsoft.ContainerInstance/scenarioA/platform.bicep
Due: none

Reset changes that should not be merged
  .github/variables/global.variables.json
  .github/workflows/ms.compute.availabilitysets.yml
  .github/workflows/platform.dependencies.yml
  settings.json
Due: none

updated template path to root, added mg level + param name fix (#1110)
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Microsoft.ApiManagement-service Min Param File Added (#1108)
  .azuredevops/modulePipelines/ms.apimanagement.service.yml
  .github/workflows/ms.apimanagement.service.yml
  arm/Microsoft.ApiManagement/service/.parameters/min.parameters.json
Due: none

Update to latest
  arm/Microsoft.Network/networkSecurityGroups/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  docs/wiki/Getting started - Consume library.md
  docs/wiki/Home.md
  docs/wiki/Solution creation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Solution creation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Getting started - Setup environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
