Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml:
  name: Network - VirtualNetworkGateways
  stages:
  - stage: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.resources.resourcegroups.yml:
  name: Resources - ResourceGroups
  stages:
  - stage: Validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

updates based on PR comments
  arm/Microsoft.Network/frontDoors/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/frontDoors/readme.md
Due: none

Referenced the right parameter file.
  .azuredevops/modulePipelines/ms.desktopvirtualization.scalingplans.yml
Due: none

First commit
  utilities/tools/moduleReadMeSource/resourceUsage-privateEndpoints.md
Due: none

Update to latest
  utilities/tools/moduleReadMeSource/resourceUsage-privateEndpoints.md
Due: none

Update to latest
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
  utilities/pipelines/dependencies/Microsoft.Web/serverfarms/parameters/parameters.json
Due: none

Update .github/actions/templates/getWorkflowInput/action.yml
  .github/actions/templates/getWorkflowInput/action.yml
Due: none

Update .github/actions/templates/validateModulePester/action.yml
  .github/actions/templates/validateModulePester/action.yml
Due: none

Update .github/actions/templates/validateModuleDeployment/action.yml
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

Update .github/actions/templates/publishModule/action.yml
  .github/actions/templates/publishModule/action.yml
Due: none

Users/akata72/scalingplans (#1144)
  .azuredevops/modulePipelines/ms.desktopvirtualization.scalingplans.yml
  .github/workflows/ms.desktopvirtualization.scalingplans.yml
  arm/Microsoft.DesktopVirtualization/scalingplans/.bicep/nested_rbac.bicep
  arm/Microsoft.DesktopVirtualization/scalingplans/.parameters/min.parameters.json
  arm/Microsoft.DesktopVirtualization/scalingplans/deploy.bicep
  arm/Microsoft.DesktopVirtualization/scalingplans/readme.md
  arm/Microsoft.DesktopVirtualization/scalingplans/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

Added outputs to docs
  .github/actions/templates/getWorkflowInput/action.yml
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

update docs
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated deployment examples for modules/templates (#1162)
  docs/wiki/The library - Module usage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added draft for migration guidelines (#1097)
  docs/wiki/Home.md
  docs/wiki/Upgrade from 0.3.1 to 0.4.0.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated doc
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.CognitiveServices/accounts/readme.md
  arm/Microsoft.Compute/disks/readme.md
  arm/Microsoft.Compute/virtualMachines/readme.md
  arm/Microsoft.ContainerRegistry/registries/readme.md
  arm/Microsoft.ContainerService/managedClusters/agentPools/readme.md
  arm/Microsoft.EventGrid/systemTopics/readme.md
  arm/Microsoft.EventGrid/topics/readme.md
  arm/Microsoft.EventHub/namespaces/readme.md
  arm/Microsoft.Insights/privateLinkScopes/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
  arm/Microsoft.Network/applicationGateways/readme.md
  arm/Microsoft.Network/localNetworkGateways/readme.md
  arm/Microsoft.Network/natGateways/readme.md
  arm/Microsoft.Network/networkSecurityGroups/readme.md
  arm/Microsoft.Network/vpnSites/readme.md
  arm/Microsoft.RecoveryServices/vaults/readme.md
  arm/Microsoft.ServiceBus/namespaces/readme.md
  arm/Microsoft.ServiceBus/namespaces/topics/authorizationRules/readme.md
  arm/Microsoft.ServiceFabric/clusters/readme.md
  arm/Microsoft.Sql/managedInstances/readme.md
  arm/Microsoft.Storage/storageAccounts/readme.md
  arm/Microsoft.Synapse/privateLinkHubs/readme.md
  arm/Microsoft.Web/sites/readme.md
  arm/Microsoft.Web/staticSites/readme.md
  constructs/Microsoft.Authorization/roleAssignments-multiRolesMultiPrincipals/readme.md
Due: none

Update to latest
  docs/wiki/The library - Module usage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Module frontdoor (#1161)
  .azuredevops/modulePipelines/ms.network.frontdoors.yml
  .github/workflows/ms.network.frontdoors.yml
  arm/Microsoft.Network/frontDoors/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/frontDoors/.parameters/parameters.json
  arm/Microsoft.Network/frontDoors/deploy.bicep
  arm/Microsoft.Network/frontDoors/readme.md
  arm/Microsoft.Network/frontDoors/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Users/alsehr/1158 web parent (#1164)
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Web/sites/.parameters/fa.min.parameters.json
  arm/Microsoft.Web/sites/.parameters/fa.parameters.json
  arm/Microsoft.Web/sites/.parameters/wa.min.parameters.json
  arm/Microsoft.Web/sites/.parameters/wa.parameters.json
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/sites/readme.md
  utilities/pipelines/dependencies/Microsoft.Web/serverfarms/parameters/parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated endpoint docs (#1168)
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.CognitiveServices/accounts/readme.md
  arm/Microsoft.Compute/disks/readme.md
  arm/Microsoft.Compute/virtualMachines/readme.md
  arm/Microsoft.ContainerRegistry/registries/readme.md
  arm/Microsoft.ContainerService/managedClusters/agentPools/readme.md
  arm/Microsoft.EventGrid/systemTopics/readme.md
  arm/Microsoft.EventGrid/topics/readme.md
  arm/Microsoft.EventHub/namespaces/readme.md
  arm/Microsoft.Insights/privateLinkScopes/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
  arm/Microsoft.Network/applicationGateways/readme.md
  arm/Microsoft.Network/localNetworkGateways/readme.md
  arm/Microsoft.Network/natGateways/readme.md
  arm/Microsoft.Network/networkSecurityGroups/readme.md
  arm/Microsoft.Network/vpnSites/readme.md
  arm/Microsoft.RecoveryServices/vaults/readme.md
  arm/Microsoft.ServiceBus/namespaces/readme.md
  arm/Microsoft.ServiceBus/namespaces/topics/authorizationRules/readme.md
  arm/Microsoft.ServiceFabric/clusters/readme.md
  arm/Microsoft.Sql/managedInstances/readme.md
  arm/Microsoft.Storage/storageAccounts/readme.md
  arm/Microsoft.Synapse/privateLinkHubs/readme.md
  arm/Microsoft.Web/sites/readme.md
  arm/Microsoft.Web/staticSites/readme.md
  constructs/Microsoft.Authorization/roleAssignments-multiRolesMultiPrincipals/readme.md
  utilities/tools/moduleReadMeSource/resourceUsage-privateEndpoints.md
Due: none

update pester draft
  arm/.global/global.module.tests.ps1
Due: none

Update utilities/tools/Set-ModuleReadMe.ps1
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Update to latest
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Users/simonb/recovery services vault dr (#1167)
  .azuredevops/modulePipelines/ms.recoveryservices.vaults.yml
  .github/workflows/ms.recoveryservices.vaults.yml
  arm/Microsoft.RecoveryServices/vaults/.parameters/dr.parameters.json
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/readme.md
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/readme.md
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/readme.md
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/readme.md
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/version.json
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/version.json
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/version.json
  arm/Microsoft.RecoveryServices/vaults/replicationPolicies/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationPolicies/readme.md
  arm/Microsoft.RecoveryServices/vaults/replicationPolicies/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Storage/storageAccounts/fileServices/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Added documentation to current composite actions (#1128)
  .github/actions/templates/getWorkflowInput/action.yml
  .github/actions/templates/publishModule/action.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/actions/templates/validateModulePester/action.yml
Due: none

Microsoft.Batch/batchAccounts Min,Max Params Added
  arm/Microsoft.Batch/batchAccounts/.parameters/max.parameters.json
  arm/Microsoft.Batch/batchAccounts/.parameters/min.parameters.json
Due: none

Update ms.batch.batchaccounts.yml
  .github/workflows/ms.batch.batchaccounts.yml
Due: none

Update ms.batch.batchaccounts.yml
  .azuredevops/modulePipelines/ms.batch.batchaccounts.yml
Due: none

removed comments encr params
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
Due: none

Set default values to a secure value - Automation #773 (#1049)
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/ms.automation.automationaccounts.yml
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.Automation/automationAccounts/variables/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/variables/readme.md
  utilities/pipelines/dependencies/Microsoft.KeyVault/vaults/parameters/nopr.parameters.json
  utilities/pipelines/dependencies/Microsoft.KeyVault/vaults/parameters/parameters.json
  utilities/pipelines/dependencies/Microsoft.Storage/storageAccounts/parameters/fa.parameters.json
  utilities/pipelines/dependencies/Microsoft.Storage/storageAccounts/parameters/law.parameters.json
  utilities/pipelines/dependencies/Microsoft.Storage/storageAccounts/parameters/parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
