Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml:
  name: Network - VirtualNetworkGateways
  stages:
  - stage: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.resources.resourcegroups.yml:
  name: Resources - ResourceGroups
  stages:
  - stage: Validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

remove record
  arm/Microsoft.Network/privateDnsZones/A/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/MX/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix readme
  arm/Microsoft.Network/privateDnsZones/CNAME/readme.md
Due: none

update
  arm/Microsoft.Network/privateDnsZones/A/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/A/readme.md
  arm/Microsoft.Network/privateDnsZones/AAAA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/readme.md
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/readme.md
  arm/Microsoft.Network/privateDnsZones/MX/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/MX/readme.md
  arm/Microsoft.Network/privateDnsZones/PTR/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/readme.md
  arm/Microsoft.Network/privateDnsZones/SOA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/readme.md
  arm/Microsoft.Network/privateDnsZones/SRV/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/readme.md
  arm/Microsoft.Network/privateDnsZones/TXT/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/readme.md
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

forms
  .github/ISSUE_TEMPLATE/BUG_REPORT.FORM.md
  workload/deploy.bicep
  workload/deployment.ps1
Due: none

removed workloads
  workload/deploy.bicep
  workload/deployment.ps1
Due: none

removed form template
  .github/ISSUE_TEMPLATE/BUG_REPORT.FORM.md
Due: none

removed form template (#1039)
  .github/ISSUE_TEMPLATE/BUG_REPORT.FORM.md
Due: none

fix
  arm/Microsoft.Network/privateDnsZones/.parameters/parameters.json
Due: none

Update to latest
  arm/Microsoft.Network/privateDnsZones/.parameters/parameters.json
Due: none

update dir names
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update
  arm/Microsoft.Network/privateDnsZones/A/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/MX/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test
  arm/Microsoft.Network/privateDnsZones/a1/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/a1/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/a1/readme.md
  arm/Microsoft.Network/privateDnsZones/a1/version.json
  arm/Microsoft.Network/privateDnsZones/aaaa1/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/aaaa1/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/aaaa1/readme.md
  arm/Microsoft.Network/privateDnsZones/aaaa1/version.json
  arm/Microsoft.Network/privateDnsZones/cname1/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/cname1/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/cname1/readme.md
  arm/Microsoft.Network/privateDnsZones/cname1/version.json
  arm/Microsoft.Network/privateDnsZones/mx1/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/mx1/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/mx1/readme.md
  arm/Microsoft.Network/privateDnsZones/mx1/version.json
  arm/Microsoft.Network/privateDnsZones/ptr1/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/ptr1/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/ptr1/readme.md
  arm/Microsoft.Network/privateDnsZones/ptr1/version.json
  arm/Microsoft.Network/privateDnsZones/soa1/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/soa1/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/soa1/readme.md
  arm/Microsoft.Network/privateDnsZones/soa1/version.json
  arm/Microsoft.Network/privateDnsZones/srv1/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/srv1/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/srv1/readme.md
  arm/Microsoft.Network/privateDnsZones/srv1/version.json
  arm/Microsoft.Network/privateDnsZones/txt1/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/txt1/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/txt1/readme.md
  arm/Microsoft.Network/privateDnsZones/txt1/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix
  arm/Microsoft.Network/privateDnsZones/a/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/a/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/a/readme.md
  arm/Microsoft.Network/privateDnsZones/a/version.json
  arm/Microsoft.Network/privateDnsZones/aaaa/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/aaaa/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/aaaa/readme.md
  arm/Microsoft.Network/privateDnsZones/aaaa/version.json
  arm/Microsoft.Network/privateDnsZones/cname/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/cname/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/cname/readme.md
  arm/Microsoft.Network/privateDnsZones/cname/version.json
  arm/Microsoft.Network/privateDnsZones/mx/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/mx/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/mx/readme.md
  arm/Microsoft.Network/privateDnsZones/mx/version.json
  arm/Microsoft.Network/privateDnsZones/ptr/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/ptr/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/ptr/readme.md
  arm/Microsoft.Network/privateDnsZones/ptr/version.json
  arm/Microsoft.Network/privateDnsZones/soa/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/soa/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/soa/readme.md
  arm/Microsoft.Network/privateDnsZones/soa/version.json
  arm/Microsoft.Network/privateDnsZones/srv/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/srv/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/srv/readme.md
  arm/Microsoft.Network/privateDnsZones/srv/version.json
  arm/Microsoft.Network/privateDnsZones/txt/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/txt/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/txt/readme.md
  arm/Microsoft.Network/privateDnsZones/txt/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test
  arm/Microsoft.Network/privateDnsZones/.parameters/parameters.json
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
Due: none

Update deploy.bicep
  arm/Microsoft.Network/connections/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated dependency pipeline for role assignments
  .github/workflows/platform.dependencies.yml
Due: none

added display name for dependency policy assignment
  utilities/pipelines/dependencies/Microsoft.Authorization/policyAssignments/parameters/mg.parameters.json
  utilities/pipelines/dependencies/Microsoft.Authorization/policyAssignments/parameters/sub.parameters.json
Due: none

Add resource Group support for mg level deployments
  utilities/pipelines/resourceRemoval/helper/Get-DeploymentTargetResourceList.ps1
Due: none

testing rg level removal with role def
  .github/workflows/ms.authorization.roledefinitions.yml
  arm/Microsoft.Authorization/roleDefinitions/.parameters/rg.parameters.json
Due: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml

reverted back role definitions
  .github/workflows/ms.authorization.roledefinitions.yml
  arm/Microsoft.Authorization/roleDefinitions/.parameters/rg.parameters.json
Due: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml

Update deploy.bicep (#1041)
  arm/Microsoft.Network/connections/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

adding system topic
  arm/Microsoft.EventGrid/systemTopics/.bicep/nested_cuaId.bicep
  arm/Microsoft.EventGrid/systemTopics/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.EventGrid/systemTopics/.bicep/nested_rbac.bicep
  arm/Microsoft.EventGrid/systemTopics/.parameters/parameters.json
  arm/Microsoft.EventGrid/systemTopics/deploy.bicep
  arm/Microsoft.EventGrid/systemTopics/readme.md
  arm/Microsoft.EventGrid/systemTopics/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

add pipeline
  .github/workflows/ms.eventgrid.systemtopics.yml
Due: none

law update
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
Due: none

add trigger
  .github/workflows/ms.eventgrid.systemtopics.yml
Due: none

fix
  .github/workflows/ms.eventgrid.systemtopics.yml
Due: none

fix
  arm/Microsoft.EventGrid/systemTopics/.parameters/parameters.json
Due: none

fix
  arm/Microsoft.EventGrid/systemTopics/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test
  arm/Microsoft.EventGrid/systemTopics/.parameters/parameters.json
Due: none

fix
  arm/Microsoft.EventGrid/systemTopics/.bicep/nested_rbac.bicep
Due: none

test keyvault encryption
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

readme file
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

missing parameters in readme
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

missing param in readme
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

v lowercase
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
