Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Test enabling the publicNetworkAccess property
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

added adp-carml-az-kv-nopurge-001 in dependencies
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
  utilities/pipelines/dependencies/Microsoft.KeyVault/vaults/parameters/nopr.parameters.json
Due: none

nopurge kv name shortened
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
  utilities/pipelines/dependencies/Microsoft.KeyVault/vaults/parameters/nopr.parameters.json
Due: none

Test refactor SA
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Test further refactoring
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

upgrade version
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Test more scenarios
  .github/workflows/ms.storage.storageaccounts.yml
Due: none

reset removeal to true
  .github/workflows/ms.storage.storageaccounts.yml
Due: none

requireInfraEnc not supported on "Storage" (v1)
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

wiki the library
  docs/wiki/The library - Module design.md
  docs/wiki/The library - Module usage.md
  docs/wiki/The library.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

update internal links
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

capitalization
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

intro update
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Reset workflow file
  .github/workflows/ms.storage.storageaccounts.yml
Due: none

Additions to NFS fileshares (#1078)
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml
  .github/workflows/ms.storage.storageaccounts.yml
  arm/Microsoft.Storage/storageAccounts/.parameters/nfs.parameters.json
  arm/Microsoft.Storage/storageAccounts/fileServices/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/readme.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

intro and publishing
  docs/wiki/The CI environment - Publishing.md
  docs/wiki/The CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

pipeline usage
  docs/wiki/The CI environment - Pipeline usage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Wiki restructure - The library (#1087)
  docs/wiki/The library - Module design.md
  docs/wiki/The library - Module usage.md
  docs/wiki/The library.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Wiki restructuring - Contribution guide (#1084)
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Contribution guide - Generate module readme.md
  docs/wiki/Contribution guide - Get formatted RBAC roles.md
  docs/wiki/Contribution guide.md
  docs/wiki/Home.md
  docs/wiki/media/badgeDropdown.png
  docs/wiki/media/carmlStatusBadge.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Regenerated docs & merged latest main
  arm/Microsoft.Authorization/policyAssignments/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/policyExemptions/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleDefinitions/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/resourceGroup/readme.md
  arm/Microsoft.EventGrid/systemTopics/deploy.bicep
  arm/Microsoft.EventGrid/systemTopics/readme.md
  arm/Microsoft.Network/privateDnsZones/A/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/A/readme.md
  arm/Microsoft.Network/privateDnsZones/AAAA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/readme.md
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/readme.md
  arm/Microsoft.Network/privateDnsZones/MX/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/MX/readme.md
  arm/Microsoft.Network/privateDnsZones/PTR/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/readme.md
  arm/Microsoft.Network/privateDnsZones/SOA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/readme.md
  arm/Microsoft.Network/privateDnsZones/SRV/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/readme.md
  arm/Microsoft.Network/privateDnsZones/TXT/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/readme.md
  arm/Microsoft.Network/privateDnsZones/readme.md
  arm/Microsoft.Network/vpnGateways/connections/deploy.bicep
  arm/Microsoft.Network/vpnGateways/connections/readme.md
  arm/Microsoft.Network/vpnGateways/deploy.bicep
  arm/Microsoft.Network/vpnGateways/natRules/deploy.bicep
  arm/Microsoft.Network/vpnGateways/natRules/readme.md
  arm/Microsoft.Network/vpnGateways/readme.md
  arm/Microsoft.Sql/managedInstances/securityAlertPolicies/readme.md
  arm/Microsoft.Storage/storageAccounts/fileServices/readme.md
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Added rbac description property
  arm/Microsoft.AnalysisServices/servers/.bicep/nested_rbac.bicep
  arm/Microsoft.AnalysisServices/servers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Test loadbalancer update
  .azuredevops/modulePipelines/ms.network.loadbalancers.yml
  .github/workflows/ms.network.loadbalancers.yml
  arm/Microsoft.Network/loadBalancers/.parameters/internal.parameters.json
  arm/Microsoft.Network/loadBalancers/backendAddressPools/deploy.bicep
  arm/Microsoft.Network/loadBalancers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added VPN site module
  .azuredevops/modulePipelines/ms.network.vpnsites.yml
  .github/workflows/ms.network.vpnsites.yml
  arm/Microsoft.Network/virtualHubs/deploy.bicep
  arm/Microsoft.Network/vpnSites/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/vpnSites/.parameters/min.parameters.json
  arm/Microsoft.Network/vpnSites/.parameters/parameters.json
  arm/Microsoft.Network/vpnSites/deploy.bicep
  arm/Microsoft.Network/vpnSites/readme.md
Due: .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed pipeline name
  .azuredevops/modulePipelines/ms.network.vpnsites.yml
Due: none

Update readme
  arm/Microsoft.Network/loadBalancers/readme.md
Due: none

Update to latest
  arm/Microsoft.Network/vpnSites/version.json
Due: none

Updated test & fixed issue
  arm/.global/global.module.tests.ps1
  arm/Microsoft.Network/vpnSites/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated param
  arm/Microsoft.Network/vpnSites/.parameters/min.parameters.json
  arm/Microsoft.Network/vpnSites/.parameters/parameters.json
Due: none

Test
  arm/Microsoft.Network/loadBalancers/.parameters/min.parameters.json
  arm/Microsoft.Network/loadBalancers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added lock + role assignment
  arm/Microsoft.Network/vpnSites/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/vpnSites/.parameters/parameters.json
  arm/Microsoft.Network/vpnSites/deploy.bicep
  arm/Microsoft.Network/vpnSites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Test with && !empty()
  arm/Microsoft.Network/loadBalancers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Refactored vwan module and shifted resources accordingly + added min param
  .azuredevops/modulePipelines/ms.network.virtualwans.yml
  .github/workflows/ms.network.virtualwans.yml
  arm/Microsoft.Network/virtualHubs/deploy.bicep
  arm/Microsoft.Network/virtualHubs/readme.md
  arm/Microsoft.Network/virtualWans/.parameters/min.parameters.json
  arm/Microsoft.Network/virtualWans/.parameters/parameters.json
  arm/Microsoft.Network/virtualWans/deploy.bicep
  arm/Microsoft.Network/virtualWans/readme.md
  arm/Microsoft.Network/vpnGateways/deploy.bicep
  arm/Microsoft.Network/vpnGateways/readme.md
Due: .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated param file
  arm/Microsoft.Network/virtualWans/.parameters/parameters.json
Due: none

test deployment without backend child
  arm/Microsoft.Network/loadBalancers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update with using backend child
  arm/Microsoft.Network/loadBalancers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/virtualWans/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/virtualWans/deploy.bicep
  arm/Microsoft.Network/virtualWans/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/virtualWans/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fix for tunnelInterface
  arm/Microsoft.Network/loadBalancers/backendAddressPools/deploy.bicep
  arm/Microsoft.Network/loadBalancers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml
