Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml:
  name: Network - VirtualNetworkGateways
  stages:
  - stage: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

Changed param name and moved param
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added new parameter to example file for windows as well
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
Due: none

overview update
  docs/wiki/The context - CARML overview.md
  docs/wiki/The context - IaC.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

overview update
  docs/wiki/The context - CARML overview.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

initial import
  arm/Microsoft.KubernetesConfiguration/extensions/.bicep/nested_cuaId.bicep
  arm/Microsoft.KubernetesConfiguration/extensions/.parameters/parameters.json
  arm/Microsoft.KubernetesConfiguration/extensions/deploy.bicep
  arm/Microsoft.KubernetesConfiguration/extensions/readme.md
  arm/Microsoft.KubernetesConfiguration/extensions/version.json
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/.bicep/nested_cuaId.bicep
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/deploy.bicep
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/readme.md
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update parameter files
  arm/Microsoft.KubernetesConfiguration/extensions/.parameters/parameters.json
Due: none

add parameter file
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/.parameters/parameters.json
Due: none

bug workaround
  arm/Microsoft.KubernetesConfiguration/extensions/.parameters/parameters.json
Due: none

readme string quotes options before cleanup on 1 module
  arm/Microsoft.AnalysisServices/servers/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

cleanup
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

added invoke task
  .github/actions/templates/setEnvironmentVariables/action.yml
Due: none

fix for env:github_env
  .github/actions/templates/setEnvironmentVariables/action.yml
Due: none

add pipeline files
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.extensions.yml
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.fluxconfigurations.yml
  .github/workflows/ms.kubernetesconfiguration.extensions.yml
  .github/workflows/ms.kubernetesconfiguration.fluxconfigurations.yml
Due: none

fix
  arm/Microsoft.KubernetesConfiguration/extensions/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test
  .github/actions/templates/validateModuleDeployment/action.yml
  arm/Microsoft.KubernetesConfiguration/extensions/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test2
  .github/actions/templates/validateModuleDeployment/action.yml
  arm/Microsoft.KubernetesConfiguration/extensions/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test3
  .github/actions/templates/validateModuleDeployment/action.yml
  arm/Microsoft.KubernetesConfiguration/extensions/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test4
  .github/actions/templates/validateModuleDeployment/action.yml
  arm/Microsoft.KubernetesConfiguration/extensions/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

final
  .github/workflows/ms.kubernetesconfiguration.extensions.yml
  arm/Microsoft.KubernetesConfiguration/extensions/deploy.bicep
  arm/Microsoft.KubernetesConfiguration/extensions/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update
  .github/workflows/ms.kubernetesconfiguration.extensions.yml
  .github/workflows/ms.kubernetesconfiguration.fluxconfigurations.yml
  arm/Microsoft.KubernetesConfiguration/extensions/readme.md
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/readme.md
Due: none

finalize
  arm/Microsoft.KubernetesConfiguration/extensions/.bicep/nested_cuaId.bicep
  arm/Microsoft.KubernetesConfiguration/extensions/deploy.bicep
  arm/Microsoft.KubernetesConfiguration/extensions/readme.md
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/.bicep/nested_cuaId.bicep
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/deploy.bicep
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  utilities/pipelines/sharedScripts/Get-ScopeOfTemplateFile.ps1
Due: none

update readme
  arm/Microsoft.KubernetesConfiguration/extensions/readme.md
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/readme.md
Due: none

Update utilities/tools/moduleReadMeSource/resourceUsage-roleAssignments.md
  utilities/tools/moduleReadMeSource/resourceUsage-roleAssignments.md
Due: none

Update arm/Microsoft.Management/managementGroups/.bicep/nested_rbac.bicep
  arm/Microsoft.Management/managementGroups/.bicep/nested_rbac.bicep
Due: none

Updated readme files + fixed mgmt group issue (#1185)
  arm/Microsoft.AnalysisServices/servers/deploy.bicep
  arm/Microsoft.AnalysisServices/servers/readme.md
  arm/Microsoft.Automation/automationAccounts/runbooks/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/runbooks/readme.md
  arm/Microsoft.Automation/automationAccounts/schedules/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/schedules/readme.md
  arm/Microsoft.Management/managementGroups/.bicep/nested_rbac.bicep
  arm/Microsoft.Management/managementGroups/deploy.bicep
  arm/Microsoft.Management/managementGroups/readme.md
  utilities/tools/moduleReadMeSource/resourceUsage-roleAssignments.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update to latest
  docs/wiki/The context.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Split composite action in 2
  .github/actions/templates/moduleRemoval/action.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Update to latest
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Update to latest
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

added id
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Updated to multi-param test
  .github/actions/templates/moduleRemoval/action.yml
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Added dependencies
  .github/workflows/ms.analysisservices.servers.yml
  arm/.global/dependencyConstructs/diagnostic.dependencies.bicep
  arm/Microsoft.AnalysisServices/servers/.dependencies/dependencies.bicep
Due: none

Minor naming fix
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Addded additional parameters (that should be optional)
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Minor fix
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Added check
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
