Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml:
  name: Network - VirtualNetworkGateways
  stages:
  - stage: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.resources.resourcegroups.yml:
  name: Resources - ResourceGroups
  stages:
  - stage: Validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

AV Cleanup
  .github/workflows/ms.compute.availabilitysets.yml
Due: none

Add param files, workflow and documentation for consumption of modules as a solution.
  .github/workflows/network-hub.yml
  docs/media/IaCS_DeployRGJob.png
  docs/media/MultiRepoTestFolderStructure.png
  docs/wiki/ModulesUsage.md
  solutions/network-hub-rg/Parameters/NetworkSecurityGroups/parameters.json
  solutions/network-hub-rg/Parameters/ResourceGroup/parameters.json
  solutions/network-hub-rg/Parameters/RouteTables/parameters.json
  solutions/network-hub-rg/Parameters/VirtualNetwork/vnet-A.parameters.json
  solutions/network-hub-rg/Parameters/VirtualNetwork/vnet-B.parameters.json
  solutions/network-hub-rg/Parameters/VirtualNetworkPeering/vneta-to-vnetb-peering.parameters.json
  solutions/network-hub-rg/Parameters/VirtualNetworkPeering/vnetb-to-vneta-peering.parameters.json
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  arm/Microsoft.Insights/components/.parameters/parameters.json
  arm/Microsoft.Insights/components/deploy.bicep
  arm/Microsoft.Insights/components/readme.md
  arm/Microsoft.Web/sites/.bicep/nested_components.bicep
  utilities/pipelines/dependencies/Microsoft.Insights/components/parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.insights.components.yml

Update to latest (#996)
  arm/Microsoft.Insights/components/.parameters/parameters.json
  arm/Microsoft.Insights/components/deploy.bicep
  arm/Microsoft.Insights/components/readme.md
  arm/Microsoft.Web/sites/.bicep/nested_components.bicep
  utilities/pipelines/dependencies/Microsoft.Insights/components/parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.insights.components.yml

Fixed incorrect description (#993)
  arm/Microsoft.OperationalInsights/workspaces/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/readme.md
Due: none

issue #981. Added static value for principalType to bypass AAD replication delay
  arm/Microsoft.Authorization/policyAssignments/.bicep/nested_policyAssignments_mg.bicep
  arm/Microsoft.Authorization/policyAssignments/.bicep/nested_policyAssignments_rg.bicep
  arm/Microsoft.Authorization/policyAssignments/.bicep/nested_policyAssignments_sub.bicep
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml

issue #981. Added static value for principalType to bypass AAD replication delay (#997)
  arm/Microsoft.Authorization/policyAssignments/.bicep/nested_policyAssignments_mg.bicep
  arm/Microsoft.Authorization/policyAssignments/.bicep/nested_policyAssignments_rg.bicep
  arm/Microsoft.Authorization/policyAssignments/.bicep/nested_policyAssignments_sub.bicep
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml

init
  .github/variables/global.variables.json
  settings.json
Due: none

lab3 step2
  .github/workflows/platform.dependencies.yml
  utilities/pipelines/dependencies/Microsoft.Compute/proximityPlacementGroups/.parameters/parameters.json
Due: none

typo
  utilities/pipelines/dependencies/Microsoft.Compute/proximityPlacementGroups/parameters/parameters.json
Due: none

lab 5 AS
  .github/workflows/ms.compute.availabilitysets.yml
  arm/Microsoft.Compute/availabilitySets/.parameters/min.parameters.json
  arm/Microsoft.Compute/availabilitySets/.parameters/parameters.json
Due: none

Updating Readme based on Linter error
  arm/Microsoft.Compute/virtualMachineScaleSets/readme.md
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: none

Updated api version based on broken links check error
  constructs/Microsoft.Authorization/roleAssignments-multiRolesMultiPrincipals/readme.md
Due: none

Bugfix for publishing json using ado
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
Due: none

change token
  settings.json
Due: none

settings
  .github/variables/global.variables.json
  settings.json
Due: none

rg
  .github/workflows/ms.resources.resourcegroups.yml
  arm/Microsoft.Resources/resourceGroups/version.json
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Update ConvertTo-ARMTemplate.ps1
  utilities/tools/ConvertTo-ARMTemplate.ps1
Due: none

acr name
  .github/variables/global.variables.json
Due: none

Add throttle limit to ConvertTo-ARM
  utilities/tools/ConvertTo-ARMTemplate.ps1
Due: none

Bugfix for publishing json using ado (#1003)
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
Due: none

Update settings and variables
  .github/variables/global.variables.json
  settings.json
Due: none

Added Proximity Placement Group to dependency pipeline
  .github/workflows/platform.dependencies.yml
  utilities/pipelines/dependencies/Microsoft.Compute/proximityPlacementGroups/parameters/parameters.json
Due: none

Fix dependency pipeline
  .github/workflows/platform.dependencies.yml
Due: none

Update test for availabilitySets
  .github/workflows/ms.compute.availabilitysets.yml
  arm/Microsoft.Compute/availabilitySets/.parameters/min.parameters.json
  arm/Microsoft.Compute/availabilitySets/.parameters/parameters.json
Due: none

Update version for routeTables
  arm/Microsoft.Network/routeTables/version.json
Due: none

Update version files
  arm/Microsoft.Insights/components/version.json
  arm/Microsoft.KeyVault/vaults/version.json
  arm/Microsoft.MachineLearningServices/workspaces/version.json
  arm/Microsoft.OperationalInsights/workspaces/version.json
  arm/Microsoft.Resources/resourceGroups/version.json
  arm/Microsoft.Storage/storageAccounts/version.json
Due: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Added reoutes as output on routeTables
  arm/Microsoft.Network/routeTables/deploy.bicep
  arm/Microsoft.Network/routeTables/readme.md
Due: none

update version file
  arm/Microsoft.Network/routeTables/version.json
Due: none

Resetting other files
  .github/variables/global.variables.json
  .github/workflows/ms.compute.availabilitysets.yml
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Compute/availabilitySets/.parameters/min.parameters.json
  arm/Microsoft.Compute/availabilitySets/.parameters/parameters.json
  arm/Microsoft.Insights/components/version.json
  arm/Microsoft.KeyVault/vaults/version.json
  arm/Microsoft.MachineLearningServices/workspaces/version.json
  arm/Microsoft.OperationalInsights/workspaces/version.json
  arm/Microsoft.Resources/resourceGroups/version.json
  arm/Microsoft.Storage/storageAccounts/version.json
  settings.json
  utilities/pipelines/dependencies/Microsoft.Compute/proximityPlacementGroups/parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Update settings and variables
  settings.json
Due: none

Updated location to EastUS
  .github/variables/global.variables.json
  .github/workflows/platform.dependencies.yml
Due: none

Updated name prefix
  settings.json
Due: none

Added new min parameter test file and proximity placement group test to availability set module
  .github/workflows/ms.compute.availabilitysets.yml
  arm/Microsoft.Compute/availabilitySets/.parameters/min.parameters.json
  arm/Microsoft.Compute/availabilitySets/.parameters/parameters.json
Due: none

Updated route table version to 0.1
  arm/Microsoft.Network/routeTables/version.json
Due: none

Updated TS example
  docs/wiki/ModulesUsage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated TS example (#1013)
  docs/wiki/ModulesUsage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Changed version to 0.1
  arm/Microsoft.Insights/components/version.json
  arm/Microsoft.KeyVault/vaults/version.json
  arm/Microsoft.MachineLearningServices/workspaces/version.json
  arm/Microsoft.OperationalInsights/workspaces/version.json
  arm/Microsoft.Resources/resourceGroups/version.json
  arm/Microsoft.Storage/storageAccounts/version.json
Due: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

update settings and variables
  .github/variables/global.variables.json
  settings.json
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
