Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Revert location to default, but use desc to add supported locs
  arm/Microsoft.Web/staticSites/deploy.bicep
  arm/Microsoft.Web/staticSites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

More test cases
  .github/workflows/ms.web.staticsites.yml
  arm/Microsoft.Web/staticSites/.parameters/github.parameters.json
  arm/Microsoft.Web/staticSites/version.json
Due: none

Fix github test with standard sku
  arm/Microsoft.Web/staticSites/.parameters/github.parameters.json
Due: none

Fix workflow file syntax mistake
  .github/workflows/ms.web.staticsites.yml
Due: none

Test with fixed parameters on github test case
  arm/Microsoft.Web/staticSites/.parameters/github.parameters.json
Due: none

Test with reference to a KV for PAT and staticwebsite quickstarter
  arm/Microsoft.Web/staticSites/.parameters/github.parameters.json
Due: none

Add build props
  arm/Microsoft.Web/staticSites/.parameters/github.parameters.json
Due: none

test run 2
  .github/workflows/ms.web.staticsites.yml
  arm/Microsoft.Web/staticSites/.parameters/github.parameters.json
Due: none

test without identity
  arm/Microsoft.Web/staticSites/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test standard sku on min
  arm/Microsoft.Web/staticSites/.parameters/min.parameters.json
  arm/Microsoft.Web/staticSites/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Test deployment with new names
  arm/Microsoft.Web/staticSites/.parameters/github.parameters.json
  arm/Microsoft.Web/staticSites/.parameters/min.parameters.json
  arm/Microsoft.Web/staticSites/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

added doc for object params
  arm/Microsoft.Web/staticSites/readme.md
Due: none

added pipeline file
  .azuredevops/modulePipelines/ms.web.staticsites.yml
Due: none

cleanup workflow file
  .github/workflows/ms.web.staticsites.yml
Due: none

test with endpoint
  .github/workflows/ms.web.staticsites.yml
  arm/Microsoft.Web/staticSites/.parameters/github.parameters.json
Due: none

test deployment
  .github/workflows/ms.web.staticsites.yml
Due: none

fix rbac list
  arm/Microsoft.Web/staticSites/.bicep/nested_rbac.bicep
Due: none

Update arm/Microsoft.Subscription/aliases/deploy.bicep
  arm/Microsoft.Subscription/aliases/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Subscription/aliases/readme.md
  arm/Microsoft.Subscription/aliases/readme.md
Due: none

Update to latest
  docs/wiki/Migration 0.3.1 to 0.4.0.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Home.md
  docs/wiki/Migration from 0.3.1 to 0.4.0.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update arm/Microsoft.Web/staticSites/.bicep/nested_rbac.bicep
  arm/Microsoft.Web/staticSites/.bicep/nested_rbac.bicep
Due: none

Remove TODO marks
  arm/Microsoft.Web/staticSites/readme.md
Due: none

add tests for ado and full but empty scenario
  .azuredevops/modulePipelines/ms.web.staticsites.yml
  .github/workflows/ms.web.staticsites.yml
  arm/Microsoft.Web/staticSites/.parameters/azuredevops.parameters.json
  arm/Microsoft.Web/staticSites/.parameters/parameters.json
Due: none

fix reference in rbac after symb name change
  arm/Microsoft.Web/staticSites/.bicep/nested_rbac.bicep
Due: none

Fix test params
  arm/Microsoft.Web/staticSites/.parameters/azuredevops.parameters.json
  arm/Microsoft.Web/staticSites/.parameters/github.parameters.json
  arm/Microsoft.Web/staticSites/.parameters/parameters.json
Due: none

Clean up testcases to maintainable scenarios
  .azuredevops/modulePipelines/ms.web.staticsites.yml
  .github/workflows/ms.web.staticsites.yml
  arm/Microsoft.Web/staticSites/.parameters/azuredevops.parameters.json
  arm/Microsoft.Web/staticSites/.parameters/github.parameters.json
Due: none

reset workflow file
  .github/workflows/ms.web.staticsites.yml
Due: none

Update to latest
  docs/wiki/Getting started.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Home.md
  docs/wiki/Upgrade from 0.3.1 to 0.4.0.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added subscriptions/policies
  arm/Microsoft.Subscription/aliases/.bicep/nested_lock.bicep
  arm/Microsoft.Subscription/aliases/.bicep/nested_rbac.bicep
  arm/Microsoft.Subscription/aliases/.parameters/parameters.json
  arm/Microsoft.Subscription/aliases/deploy.bicep
  arm/Microsoft.Subscription/policies/.parameters/parameters.json
  arm/Microsoft.Subscription/policies/deploy.bicep
  arm/Microsoft.Subscription/policies/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added Required Params
  arm/Microsoft.AnalysisServices/servers/.parameters/max.parameters.json
Due: none

Fix right SKU
  arm/Microsoft.AnalysisServices/servers/.parameters/parameters.json
Due: none

fix
  settings.json
Due: none

Fix
  arm/Microsoft.AnalysisServices/servers/.parameters/max.parameters.json
Due: none

fixes
  arm/Microsoft.AnalysisServices/servers/.parameters/max.parameters.json
  settings.json
Due: none
