Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Changed dependency
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added test to eh
  arm/Microsoft.EventHub/namespaces/.parameters/parameters.json
Due: none

Fixed rights ref for event hub (#1193)
  arm/Microsoft.EventHub/namespaces/.parameters/parameters.json
  arm/Microsoft.EventHub/namespaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update Getting started - Setup environment.md
  docs/wiki/Getting started - Setup environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Add AKS extension and flux configuration modules (#1190)
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.extensions.yml
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.fluxconfigurations.yml
  .github/workflows/ms.kubernetesconfiguration.extensions.yml
  .github/workflows/ms.kubernetesconfiguration.fluxconfigurations.yml
  arm/Microsoft.KubernetesConfiguration/extensions/.parameters/min.parameters.json
  arm/Microsoft.KubernetesConfiguration/extensions/.parameters/parameters.json
  arm/Microsoft.KubernetesConfiguration/extensions/deploy.bicep
  arm/Microsoft.KubernetesConfiguration/extensions/readme.md
  arm/Microsoft.KubernetesConfiguration/extensions/version.json
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/.parameters/min.parameters.json
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/.parameters/parameters.json
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/deploy.bicep
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/readme.md
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

Changed dependency (#1199)
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

adding correct value to desc
  docs/wiki/Getting started - Setup environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated readmes
  arm/Microsoft.Compute/virtualMachineScaleSets/readme.md
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: none

Update to latest
  arm/Microsoft.Compute/virtualMachineScaleSets/readme.md
Due: none

Upated main
  .github/workflows/ms.compute.availabilitysets.yml
Due: none

Update to main
  .github/workflows/ms.compute.availabilitysets.yml
Due: none

Update to main - stg acct version
  arm/Microsoft.Storage/storageAccounts/version.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

Updates to main
  arm/Microsoft.Compute/availabilitySets/.parameters/parameters.json
  arm/Microsoft.Insights/components/version.json
  arm/Microsoft.KeyVault/vaults/version.json
  arm/Microsoft.MachineLearningServices/workspaces/version.json
  arm/Microsoft.Network/routeTables/version.json
  arm/Microsoft.OperationalInsights/workspaces/version.json
  arm/Microsoft.Resources/resourceGroups/version.json
Due: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Added condition to diagnosticsSettings
  arm/Microsoft.Databricks/workspaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Exclude env specific settings
  .github/variables/global.variables.json
  .github/workflows/platform.dependencies.yml
  settings.json
Due: none

Exclude environmental settings
  .github/variables/global.variables.json
Due: none

Update to latest
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
  .azuredevops/pipelineTemplates/jobs.deployTemplate.yml
  .azuredevops/pipelineTemplates/steps.removeTemplateDeployment.yml
Due: none

Update to latest
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
  .azuredevops/pipelineTemplates/jobs.deployTemplate.yml
Due: none

toc update
  docs/wiki/Home.md
  docs/wiki/The context - CARML CI environment.md
  docs/wiki/The context - CARML library.md
  docs/wiki/The context - CARML overview.md
  docs/wiki/The context.md
  docs/wiki/media/Context/CARLM_overview_white.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update arm/Microsoft.Databricks/workspaces/deploy.bicep
  arm/Microsoft.Databricks/workspaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated readmes for VM & VMSS (#1203)
  arm/Microsoft.Compute/virtualMachineScaleSets/readme.md
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: none

Databricks BugFix: Added condition to diagnosticSettings (#1204)
  arm/Microsoft.Databricks/workspaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

First draft for matrix deploy
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
  utilities/pipelines/sharedScripts/Get-ModuleParameterFiles.ps1
Due: none

Update to latest
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
Due: none

Update to latest
  .azuredevops/pipelineTemplates/steps.deployTemplate.yml
Due: none

Update to latest
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
  .azuredevops/pipelineTemplates/steps.deployTemplate.yml
Due: none
