Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml:
  name: Network - VirtualNetworkGateways
  stages:
  - stage: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.resources.resourcegroups.yml:
  name: Resources - ResourceGroups
  stages:
  - stage: Validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

Update to latest
  arm/Microsoft.Authorization/roleDefinitions/deploy.bicep
Due: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

NSG: Moved NSG Security Rules into its own child-module (#1102)
  .azuredevops/modulePipelines/ms.network.networksecuritygroups.yml
  .github/workflows/ms.network.networksecuritygroups.yml
  arm/Microsoft.Network/networkSecurityGroups/.parameters/min.parameters.json
  arm/Microsoft.Network/networkSecurityGroups/.parameters/parameters.json
  arm/Microsoft.Network/networkSecurityGroups/deploy.bicep
  arm/Microsoft.Network/networkSecurityGroups/readme.md
  arm/Microsoft.Network/networkSecurityGroups/securityRules/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/networkSecurityGroups/securityRules/deploy.bicep
  arm/Microsoft.Network/networkSecurityGroups/securityRules/readme.md
  arm/Microsoft.Network/networkSecurityGroups/securityRules/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update docs/wiki/Getting started.md
  docs/wiki/Getting started.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update docs/wiki/Solution creation.md
  docs/wiki/Solution creation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update docs/wiki/Home.md
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Solution creation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update cua for authorization with location
  arm/Microsoft.Authorization/policyAssignments/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/subscription/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/policyDefinitions/subscription/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/subscription/readme.md
  arm/Microsoft.Authorization/policyExemptions/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/managementGroup/readme.md
  arm/Microsoft.Authorization/policyExemptions/subscription/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/subscription/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/subscription/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/subscription/readme.md
  arm/Microsoft.Authorization/roleAssignments/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/subscription/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/subscription/readme.md
  arm/Microsoft.Authorization/roleDefinitions/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/roleDefinitions/subscription/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/subscription/readme.md
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed further modules
  arm/Microsoft.ManagedServices/registrationDefinitions/deploy.bicep
  arm/Microsoft.ManagedServices/registrationDefinitions/readme.md
  arm/Microsoft.Management/managementGroups/deploy.bicep
  arm/Microsoft.Management/managementGroups/readme.md
  arm/Microsoft.Resources/resourceGroups/deploy.bicep
  arm/Microsoft.Resources/tags/deploy.bicep
  arm/Microsoft.Resources/tags/readme.md
  arm/Microsoft.Resources/tags/resourceGroups/deploy.bicep
  arm/Microsoft.Resources/tags/resourceGroups/readme.md
  arm/Microsoft.Resources/tags/subscriptions/deploy.bicep
  arm/Microsoft.Resources/tags/subscriptions/readme.md
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Insights/diagnosticSettings/deploy.bicep
  arm/Microsoft.Insights/diagnosticSettings/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  docs/wiki/PipelineRemovalAction.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated working state
  arm/Microsoft.Network/virtualNetworks/.parameters/parameters.json
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/subnets/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/subnets/readme.md
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/1.bastion.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/2.vnetpeer01.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/3.vnetpeer02.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/4.azfw.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/5.aks.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/6.sqlmi.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/7.virtualHubConnection.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added note for design limitation of network resources
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

removed uneeded cuaId and updated doc for subnet module
  arm/Microsoft.Network/virtualNetworks/subnets/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/subnets/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Sql/servers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added additional test case for SQL Server (#1116)
  .azuredevops/modulePipelines/ms.sql.servers.yml
  .github/workflows/ms.sql.servers.yml
  arm/Microsoft.Sql/servers/.parameters/admin.parameters.json
  arm/Microsoft.Sql/servers/.parameters/parameters.json
  arm/Microsoft.Sql/servers/readme.md
Due: none

Update to latest
  arm/Microsoft.Network/networkSecurityGroups/securityRules/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/networkSecurityGroups/securityRules/deploy.bicep
  arm/Microsoft.Network/networkSecurityGroups/securityRules/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated dep. pipeline nsgs to reflect name change
  utilities/pipelines/dependencies/Microsoft.Network/networkSecurityGroups/parameters/apgw.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/networkSecurityGroups/parameters/ase.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/networkSecurityGroups/parameters/bastion.parameters.json
Due: none

updated location property in policy assignment PID resource
  arm/Microsoft.Authorization/policyAssignments/deploy.bicep
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Virtual Network - Subnet Child Resource Remediation (#1112)
  arm/Microsoft.Authorization/policyAssignments/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/.parameters/parameters.json
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/subnets/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/subnets/readme.md
  utilities/pipelines/dependencies/Microsoft.Network/networkSecurityGroups/parameters/apgw.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/networkSecurityGroups/parameters/ase.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/networkSecurityGroups/parameters/bastion.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/1.bastion.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/2.vnetpeer01.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/3.vnetpeer02.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/4.azfw.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/5.aks.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/6.sqlmi.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/7.virtualHubConnection.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  docs/wiki/The library - Module usage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added nopr keys
  .github/workflows/platform.dependencies.yml
Due: none

Fixed bug platform dependencies
  .github/workflows/platform.dependencies.yml
Due: none

Updated dependencies devops with noprKeyVault and keys
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Update to latest
  docs/wiki/Getting started - Setup environment.md
  docs/wiki/The CI environment - Token replacement.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Getting started - Setup environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

fixed duplicated job name
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Updated storage dependencies "requireInfrastructureEncryption": { "value": false },
  utilities/pipelines/dependencies/Microsoft.Storage/storageAccounts/parameters/fa.parameters.json
  utilities/pipelines/dependencies/Microsoft.Storage/storageAccounts/parameters/law.parameters.json
  utilities/pipelines/dependencies/Microsoft.Storage/storageAccounts/parameters/parameters.json
Due: none

Update to latest
  docs/wiki/The CI environment - Token replacement.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated encr.parameters.json removing everything but the encryption part needed
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
Due: none

fix module
  arm/Microsoft.Insights/scheduledQueryRules/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
  arm/Microsoft.ContainerService/managedClusters/readme.md
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  utilities/tools/Test-NamePrefixAvailability.ps1
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
