Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Fix backendAddressPool.loadBalancerBackendAddresses
  arm/Microsoft.Network/loadBalancers/backendAddressPools/deploy.bicep
  arm/Microsoft.Network/loadBalancers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix privateIPAllocationMethod when subnet is blank
  arm/Microsoft.Network/loadBalancers/backendAddressPools/deploy.bicep
  arm/Microsoft.Network/loadBalancers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fix internal LB and full param files
  arm/Microsoft.Network/loadBalancers/.parameters/internal.parameters.json
  arm/Microsoft.Network/loadBalancers/.parameters/parameters.json
Due: none

Test
  arm/Microsoft.Network/loadBalancers/.parameters/internal.parameters.json
Due: none

Deploy LB for testing with VMs
  .github/workflows/platform.dependencies.yml
  utilities/pipelines/dependencies/Microsoft.Network/loadBalancers/parameters/internal.parameters.json
Due: none

update dependency pipeline
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
Due: none

deploy dependency lb
  .github/workflows/platform.dependencies.yml
Due: none

Update arm/Microsoft.Network/vpnSites/.parameters/parameters.json
  arm/Microsoft.Network/vpnSites/.parameters/parameters.json
Due: none

Update arm/Microsoft.Network/virtualHubs/deploy.bicep
  arm/Microsoft.Network/virtualHubs/deploy.bicep
Due: .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Network/vpnSites/.parameters/min.parameters.json
  arm/Microsoft.Network/vpnSites/.parameters/min.parameters.json
Due: none

StorageAccount: Cleanup + add publicNetworkAccess parameter (#1086)
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Uncomment dependency pipeline
  .github/workflows/platform.dependencies.yml
Due: none

VPN Site: Created new module (#1088)
  .azuredevops/modulePipelines/ms.network.vpnsites.yml
  .github/workflows/ms.network.vpnsites.yml
  arm/.global/global.module.tests.ps1
  arm/Microsoft.Network/virtualHubs/deploy.bicep
  arm/Microsoft.Network/vpnSites/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/vpnSites/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/vpnSites/.parameters/min.parameters.json
  arm/Microsoft.Network/vpnSites/.parameters/parameters.json
  arm/Microsoft.Network/vpnSites/deploy.bicep
  arm/Microsoft.Network/vpnSites/readme.md
  arm/Microsoft.Network/vpnSites/version.json
Due: .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

Added support and test for ASG and LB
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
Due: none

fix vm api
  arm/.global/global.module.tests.ps1
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
Due: none

Update arm/Microsoft.Network/virtualWans/deploy.bicep
  arm/Microsoft.Network/virtualWans/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/virtualWans/deploy.bicep
  arm/Microsoft.Network/virtualWans/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Test site
  .github/workflows/ms.web.staticsites.yml
  arm/Microsoft.Web/staticSites/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.Web/staticSites/deploy.bicep
  arm/Microsoft.Web/staticSites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Simplication or parameters
  arm/Microsoft.Web/staticSites/deploy.bicep
  arm/Microsoft.Web/staticSites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added module proposal
  arm/Microsoft.Subscription/aliases/.bicep/mgmtGroup.bicep
  arm/Microsoft.Subscription/aliases/.bicep/nested_cuaId.bicep
  arm/Microsoft.Subscription/aliases/deploy.bicep
  arm/Microsoft.Subscription/aliases/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test empty repoURL
  arm/Microsoft.Web/staticSites/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  .azuredevops/modulePipelines/ms.subscription.aliases.yml
  .github/workflows/ms.subscription.aliases.yml
Due: none

test
  arm/Microsoft.Web/staticSites/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fix some parameters and location pointer
  arm/Microsoft.Web/staticSites/deploy.bicep
  arm/Microsoft.Web/staticSites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Change location to be global
  arm/Microsoft.Web/staticSites/deploy.bicep
  arm/Microsoft.Web/staticSites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Network/loadBalancers/.parameters/internal.parameters.json
  arm/Microsoft.Network/loadBalancers/.parameters/internal.parameters.json
Due: none

Update utilities/pipelines/dependencies/Microsoft.Network/loadBalancers/parameters/internal.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/loadBalancers/parameters/internal.parameters.json
Due: none

dependency module change name
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
Due: none

simplify dependency params
  utilities/pipelines/dependencies/Microsoft.Network/loadBalancers/parameters/internal.parameters.json
Due: none

Update .github/workflows/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
Due: none

Update .azuredevops/platformPipelines/platform.dependencies.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

remove dependencies on workflow file as its no longer required by the lb itself
  .github/workflows/platform.dependencies.yml
Due: none

map stagingEnvironment to location
  arm/Microsoft.Web/staticSites/deploy.bicep
  arm/Microsoft.Web/staticSites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml
