Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Adding event grid system topics (#1045)
  .azuredevops/modulePipelines/ms.eventgrid.systemtopics.yml
  .github/workflows/ms.eventgrid.systemtopics.yml
  arm/Microsoft.EventGrid/systemTopics/.bicep/nested_cuaId.bicep
  arm/Microsoft.EventGrid/systemTopics/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.EventGrid/systemTopics/.bicep/nested_rbac.bicep
  arm/Microsoft.EventGrid/systemTopics/.parameters/min.parameters.json
  arm/Microsoft.EventGrid/systemTopics/.parameters/parameters.json
  arm/Microsoft.EventGrid/systemTopics/deploy.bicep
  arm/Microsoft.EventGrid/systemTopics/readme.md
  arm/Microsoft.EventGrid/systemTopics/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

Add new properties to AKS (#1056)
  arm/Microsoft.ContainerService/managedClusters/.bicep/nested_rbac.bicep
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
  arm/Microsoft.ContainerService/managedClusters/readme.md
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

fix
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/readme.md
  arm/Microsoft.Network/privateDnsZones/MX/readme.md
  arm/Microsoft.Network/privateDnsZones/PTR/readme.md
  arm/Microsoft.Network/privateDnsZones/SOA/readme.md
  arm/Microsoft.Network/privateDnsZones/SRV/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Dependency-VM: Disable `accelerated networking` to support small size (#1066)
  arm/Microsoft.Compute/virtualMachines/readme.md
  utilities/pipelines/dependencies/Microsoft.Compute/virtualMachines/parameters/parameters.json
Due: none

wrong comments removal
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

the context
  docs/wiki/The context - CARML overview.md
  docs/wiki/The context - IaC.md
  docs/wiki/The context.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added rbac description property
  arm/Microsoft.AnalysisServices/servers/.bicep/nested_rbac.bicep
  arm/Microsoft.AnalysisServices/servers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
Due: none

Update to latest
  .azuredevops/modulePipelines/ms.network.vpnGateways.yml
Due: none

Update to latest
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
  arm/Microsoft.Network/vpnGateways/connections/readme.md
Due: none

Update SQL MI
  arm/Microsoft.Sql/managedInstances/.parameters/parameters.json
  arm/Microsoft.Sql/managedInstances/deploy.bicep
  arm/Microsoft.Sql/managedInstances/encryptionProtector/readme.md
  arm/Microsoft.Sql/managedInstances/readme.md
  arm/Microsoft.Sql/managedInstances/securityAlertPolicies/readme.md
  arm/Microsoft.Sql/managedInstances/vulnerabilityAssessments/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update Azure Bastion
  arm/Microsoft.Network/bastionHosts/.parameters/parameters.json
  arm/Microsoft.Network/bastionHosts/deploy.bicep
  arm/Microsoft.Network/bastionHosts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update Azure Bastion Scale Units
  arm/Microsoft.Network/bastionHosts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Microsoft.AnalysisServices-Servers-Max param file
  arm/Microsoft.AnalysisServices/servers/.parameters/max.parameters.json
Due: none

location fix
  arm/Microsoft.AnalysisServices/servers/.parameters/max.parameters.json
Due: none

remove location param
  arm/Microsoft.AnalysisServices/servers/.parameters/max.parameters.json
Due: none

Fixed issue with Azure DevOps pipeline to have it fail on failed Pester tests (#1036)
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
Due: none

initial content
  docs/wiki/The context - CARML overview.md
  docs/wiki/The context - IaC.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

initial content context
  docs/wiki/The context.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

interoperability
  docs/wiki/Interoperability - Bicep to ARM conversion.md
  docs/wiki/Interoperability - Register ADO pipelines.md
  docs/wiki/Interoperability - Transition to Azure DevOps Pipelines.md
  docs/wiki/Interoperability.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

interoperability home toc
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

utilities
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Contribution guide - Generate module readme.md
  docs/wiki/Contribution guide - Get formatted RBAC roles.md
  docs/wiki/Contribution guide.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

contribution flow
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Contribution guide.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update variable
  arm/Microsoft.Network/bastionHosts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fix diff checker for publish
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: none

Extend Bastion Host Module (#1071)
  arm/Microsoft.Network/bastionHosts/.parameters/parameters.json
  arm/Microsoft.Network/bastionHosts/deploy.bicep
  arm/Microsoft.Network/bastionHosts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

reset pipelines
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml
  .github/workflows/ms.storage.storageaccounts.yml
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

cleanup
  .github/workflows/ms.storage.storageaccounts.yml
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/version.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

Publishing: Improve diff comparison when on custom branch (#1058)
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: none

Update arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.KeyVault/vaults/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Flipped conditions
  arm/Microsoft.KeyVault/vaults/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Adding private dns zones children (#1044)
  .azuredevops/modulePipelines/ms.network.privatednszones.yml
  .github/workflows/ms.network.privatednszones.yml
  arm/Microsoft.Network/privateDnsZones/.parameters/min.parameters.json
  arm/Microsoft.Network/privateDnsZones/.parameters/parameters.json
  arm/Microsoft.Network/privateDnsZones/A/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/A/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/A/readme.md
  arm/Microsoft.Network/privateDnsZones/A/version.json
  arm/Microsoft.Network/privateDnsZones/AAAA/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/readme.md
  arm/Microsoft.Network/privateDnsZones/AAAA/version.json
  arm/Microsoft.Network/privateDnsZones/CNAME/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/readme.md
  arm/Microsoft.Network/privateDnsZones/CNAME/version.json
  arm/Microsoft.Network/privateDnsZones/MX/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/MX/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/MX/readme.md
  arm/Microsoft.Network/privateDnsZones/MX/version.json
  arm/Microsoft.Network/privateDnsZones/PTR/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/readme.md
  arm/Microsoft.Network/privateDnsZones/PTR/version.json
  arm/Microsoft.Network/privateDnsZones/SOA/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/readme.md
  arm/Microsoft.Network/privateDnsZones/SOA/version.json
  arm/Microsoft.Network/privateDnsZones/SRV/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/readme.md
  arm/Microsoft.Network/privateDnsZones/SRV/version.json
  arm/Microsoft.Network/privateDnsZones/TXT/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/readme.md
  arm/Microsoft.Network/privateDnsZones/TXT/version.json
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.KeyVault/vaults/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update ACR
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/readme.md
  arm/Microsoft.ContainerRegistry/registries/replications/.bicep/nested_cuaId.bicep
  arm/Microsoft.ContainerRegistry/registries/replications/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/replications/readme.md
  arm/Microsoft.ContainerRegistry/registries/replications/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test replications
  arm/Microsoft.ContainerRegistry/registries/.parameters/parameters.json
Due: none
