Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml:
  name: Network - VirtualNetworkGateways
  stages:
  - stage: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.resources.resourcegroups.yml:
  name: Resources - ResourceGroups
  stages:
  - stage: Validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

Update arm/Microsoft.Network/privateDnsZones/aaaa/readme.md
  arm/Microsoft.Network/privateDnsZones/aaaa/readme.md
Due: none

Update arm/Microsoft.Network/privateDnsZones/cname/readme.md
  arm/Microsoft.Network/privateDnsZones/cname/readme.md
Due: none

Update arm/Microsoft.Network/privateDnsZones/mx/readme.md
  arm/Microsoft.Network/privateDnsZones/mx/readme.md
Due: none

Update arm/Microsoft.Network/privateDnsZones/soa/readme.md
  arm/Microsoft.Network/privateDnsZones/soa/readme.md
Due: none

Update arm/Microsoft.Network/privateDnsZones/aaaa/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/aaaa/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Network/privateDnsZones/mx/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/mx/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Network/privateDnsZones/ptr/readme.md
  arm/Microsoft.Network/privateDnsZones/ptr/readme.md
Due: none

Update arm/Microsoft.Network/privateDnsZones/soa/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/soa/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Network/privateDnsZones/srv/readme.md
  arm/Microsoft.Network/privateDnsZones/srv/readme.md
Due: none

Update arm/Microsoft.Network/privateDnsZones/txt/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/txt/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Network/privateDnsZones/txt/readme.md
  arm/Microsoft.Network/privateDnsZones/txt/readme.md
Due: none

Update arm/Microsoft.Network/privateDnsZones/ptr/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/ptr/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated policy sets
  arm/Microsoft.Authorization/policyAssignments/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/policyAssignments/.parameters/mg.parameters.json
  arm/Microsoft.Authorization/policySetDefinitions/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/policySetDefinitions/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/readme.md
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

test
  .github/workflows/ms.storage.storageaccounts.yml
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: none

Update ms.storage.storageaccounts.yml
  .github/workflows/ms.storage.storageaccounts.yml
Due: none

test
  .github/workflows/ms.storage.storageaccounts.yml
Due: none

policy exemptions update
  arm/Microsoft.Authorization/policyExemptions/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/policyExemptions/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/managementGroup/readme.md
  arm/Microsoft.Authorization/policyExemptions/readme.md
  arm/Microsoft.Authorization/policyExemptions/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/resourceGroup/readme.md
  arm/Microsoft.Authorization/policyExemptions/subscription/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/subscription/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Check content in env
  .github/workflows/ms.storage.storageaccounts.yml
Due: none

testing dual approach
  .github/workflows/ms.storage.storageaccounts.yml
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: none

fix
  .github/workflows/ms.storage.storageaccounts.yml
Due: none

updated role assignments
  arm/Microsoft.Authorization/roleAssignments/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/roleAssignments/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/readme.md
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/subscription/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/subscription/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

role definitions update
  arm/Microsoft.Authorization/roleDefinitions/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/roleDefinitions/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/roleDefinitions/readme.md
  arm/Microsoft.Authorization/roleDefinitions/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleDefinitions/subscription/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/subscription/readme.md
Due: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

changed guidance message
  arm/Microsoft.Authorization/policyAssignments/readme.md
  arm/Microsoft.Authorization/policyDefinitions/readme.md
  arm/Microsoft.Authorization/policyExemptions/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/readme.md
  arm/Microsoft.Authorization/roleAssignments/readme.md
  arm/Microsoft.Authorization/roleDefinitions/readme.md
Due: none

Add dedicated LAW for automation account test (#1059)
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.Insights/components/.parameters/parameters.json
  arm/Microsoft.Web/sites/.parameters/wa.parameters.json
  docs/wiki/TestingDesign.md
  utilities/pipelines/dependencies/Microsoft.Insights/components/parameters/parameters.json
  utilities/pipelines/dependencies/Microsoft.OperationalInsights/workspaces/parameters/appi.parameters.json
  utilities/pipelines/dependencies/Microsoft.OperationalInsights/workspaces/parameters/aut.parameters.json
Due: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Update deploy.bicep
  arm/Microsoft.AnalysisServices/servers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update deploy.bicep
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update readme.md
  arm/Microsoft.Sql/servers/readme.md
Due: none

ASG updates
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

ASG updates
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
Due: none

update network api
  arm/Microsoft.Network/virtualNetworks/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/readme.md
  arm/Microsoft.Network/virtualNetworks/subnets/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/subnets/readme.md
  arm/Microsoft.Network/virtualNetworks/virtualNetworkPeerings/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/virtualNetworkPeerings/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
