Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml:
  name: Network - VirtualNetworkGateways
  stages:
  - stage: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.resources.resourcegroups.yml:
  name: Resources - ResourceGroups
  stages:
  - stage: Validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

update to latest
  arm/Microsoft.Authorization/policyDefinitions/managementGroups/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/managementGroups/readme.md
  arm/Microsoft.Authorization/policyDefinitions/subscriptions/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/subscriptions/readme.md
Due: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

policy assignments
  .github/workflows/ms.authorization.policyassignments.yml
  arm/Microsoft.Authorization/policyAssignments/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/policyAssignments/.parameters/mg.parameters.json
  arm/Microsoft.Authorization/policyAssignments/.parameters/rg.min.parameters.json
  arm/Microsoft.Authorization/policyAssignments/.parameters/rg.parameters.json
  arm/Microsoft.Authorization/policyAssignments/.parameters/sub.min.parameters.json
  arm/Microsoft.Authorization/policyAssignments/.parameters/sub.parameters.json
  arm/Microsoft.Authorization/policyAssignments/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/managementGroups/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/managementGroups/readme.md
  arm/Microsoft.Authorization/policyAssignments/readme.md
  arm/Microsoft.Authorization/policyAssignments/resourceGroups/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/resourceGroups/readme.md
  arm/Microsoft.Authorization/policyAssignments/subscriptions/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/subscriptions/readme.md
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

fixed pester errors for rg level assignments
  arm/Microsoft.Authorization/policyAssignments/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/managementGroups/.bicep/nested_cuaId.bicep
  arm/Microsoft.Authorization/policyAssignments/readme.md
  arm/Microsoft.Authorization/policyAssignments/resourceGroups/.bicep/nested_cuaId.bicep
  arm/Microsoft.Authorization/policyAssignments/resourceGroups/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/resourceGroups/readme.md
  arm/Microsoft.Authorization/policyAssignments/subscriptions/.bicep/nested_cuaId.bicep
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

removed mg and sub cuaid nested templates
  arm/Microsoft.Authorization/policyAssignments/managementGroups/.bicep/nested_cuaId.bicep
  arm/Microsoft.Authorization/policyAssignments/subscriptions/.bicep/nested_cuaId.bicep
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml

fixed resource group not scope
  arm/Microsoft.Authorization/policyAssignments/.parameters/rg.parameters.json
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/deploy.bicep
  arm/Microsoft.Network/vpnGateways/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/.parameters/min.parameters.json
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
  arm/Microsoft.Network/vpnGateways/readme.md
Due: none

Update ADO pipeline and added error for testing
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  arm/Microsoft.Resources/resourceGroups/version.json
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Update to latest
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
Due: none

Update to latest
  arm/Microsoft.Resources/resourceGroups/version.json
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/.parameters/min.parameters.json
Due: none

Update to latest
  arm/Microsoft.Network/vpnGateways/connections/deploy.bicep
  arm/Microsoft.Network/vpnGateways/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Disabled jbos
  .azuredevops/modulePipelines/ms.network.vpnGateways.yml
Due: none

Update to latest
  arm/Microsoft.Network/vpnGateways/.parameters/min.parameters.json
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
Due: none

add A records
  arm/Microsoft.Network/privateDnsZones/.parameters/parameters.json
  arm/Microsoft.Network/privateDnsZones/A/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/A/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/A/readme.md
  arm/Microsoft.Network/privateDnsZones/A/version.json
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update readme
  arm/Microsoft.Network/privateDnsZones/readme.md
Due: none

Update to latest
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
  arm/Microsoft.Network/vpnGateways/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added NAT rules
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
Due: none

Update to latest
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
Due: none

Simplify VM availability zone parameters (#1030)
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  .azuredevops/modulePipelines/ms.network.vpnGateways.yml
Due: none

Updated Policy definitions
  arm/Microsoft.Authorization/policyDefinitions/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/policyDefinitions/managementGroup/version.json
  arm/Microsoft.Authorization/policyDefinitions/readme.md
  arm/Microsoft.Authorization/policyDefinitions/subscription/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/subscription/readme.md
  arm/Microsoft.Authorization/policyDefinitions/subscription/version.json
Due: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

attempt to get the publishing to work on child modules
  arm/Microsoft.Authorization/policyDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/policyDefinitions/subscription/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/subscription/readme.md
Due: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated policy assignments module
  arm/Microsoft.Authorization/policyAssignments/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/policyAssignments/managementGroup/version.json
  arm/Microsoft.Authorization/policyAssignments/readme.md
  arm/Microsoft.Authorization/policyAssignments/resourceGroup/.bicep/nested_cuaId.bicep
  arm/Microsoft.Authorization/policyAssignments/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/policyAssignments/resourceGroup/version.json
  arm/Microsoft.Authorization/policyAssignments/subscription/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/subscription/readme.md
  arm/Microsoft.Authorization/policyAssignments/subscription/version.json
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Added vpn link config
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
Due: none

updated dep. pipeline and policy exemptions module
  .github/workflows/ms.authorization.policyexemptions.yml
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Authorization/policyAssignments/readme.md
  arm/Microsoft.Authorization/policyExemptions/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/policyExemptions/.parameters/mg.parameters.json
  arm/Microsoft.Authorization/policyExemptions/.parameters/rg.min.parameters.json
  arm/Microsoft.Authorization/policyExemptions/.parameters/rg.parameters.json
  arm/Microsoft.Authorization/policyExemptions/.parameters/sub.min.parameters.json
  arm/Microsoft.Authorization/policyExemptions/.parameters/sub.parameters.json
  arm/Microsoft.Authorization/policyExemptions/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/managementGroup/readme.md
  arm/Microsoft.Authorization/policyExemptions/managementGroup/version.json
  arm/Microsoft.Authorization/policyExemptions/readme.md
  arm/Microsoft.Authorization/policyExemptions/resourceGroup/.bicep/nested_cuaId.bicep
  arm/Microsoft.Authorization/policyExemptions/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/resourceGroup/readme.md
  arm/Microsoft.Authorization/policyExemptions/resourceGroup/version.json
  arm/Microsoft.Authorization/policyExemptions/subscription/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/subscription/readme.md
  arm/Microsoft.Authorization/policyExemptions/subscription/version.json
  utilities/pipelines/dependencies/Microsoft.Authorization/policyAssignments/parameters/mg.parameters.json
  utilities/pipelines/dependencies/Microsoft.Authorization/policyAssignments/parameters/sub.parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fixed intentional issue on name lengths for exemptions
  arm/Microsoft.Authorization/policyExemptions/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/policyExemptions/.parameters/mg.parameters.json
  arm/Microsoft.Authorization/policyExemptions/.parameters/rg.min.parameters.json
  arm/Microsoft.Authorization/policyExemptions/.parameters/rg.parameters.json
  arm/Microsoft.Authorization/policyExemptions/.parameters/sub.min.parameters.json
  arm/Microsoft.Authorization/policyExemptions/.parameters/sub.parameters.json
  arm/Microsoft.Authorization/policyExemptions/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/readme.md
  arm/Microsoft.Authorization/policyExemptions/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/subscription/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fixed mg min parameter for exemption
  arm/Microsoft.Authorization/policyExemptions/.parameters/mg.min.parameters.json
Due: none

policy set updates
  .github/workflows/ms.authorization.policysetdefinitions.yml
  arm/Microsoft.Authorization/policyDefinitions/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/policySetDefinitions/.parameters/mg.parameters.json
  arm/Microsoft.Authorization/policySetDefinitions/.parameters/sub.min.parameters.json
  arm/Microsoft.Authorization/policySetDefinitions/.parameters/sub.parameters.json
  arm/Microsoft.Authorization/policySetDefinitions/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/version.json
  arm/Microsoft.Authorization/policySetDefinitions/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/subscription/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/subscription/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/subscription/version.json
Due: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

role assignments
  .github/workflows/ms.authorization.roleassignments.yml
  arm/Microsoft.Authorization/roleAssignments/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/roleAssignments/.parameters/mg.parameters.json
  arm/Microsoft.Authorization/roleAssignments/.parameters/rg.min.parameters.json
  arm/Microsoft.Authorization/roleAssignments/.parameters/rg.parameters.json
  arm/Microsoft.Authorization/roleAssignments/.parameters/sub.min.parameters.json
  arm/Microsoft.Authorization/roleAssignments/.parameters/sub.parameters.json
  arm/Microsoft.Authorization/roleAssignments/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/managementGroup/version.json
  arm/Microsoft.Authorization/roleAssignments/readme.md
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/.bicep/nested_cuaId.bicep
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/version.json
  arm/Microsoft.Authorization/roleAssignments/subscription/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/subscription/readme.md
  arm/Microsoft.Authorization/roleAssignments/subscription/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

role definitions
  .github/workflows/ms.authorization.roledefinitions.yml
  arm/Microsoft.Authorization/roleAssignments/readme.md
  arm/Microsoft.Authorization/roleDefinitions/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/roleDefinitions/.parameters/mg.parameters.json
  arm/Microsoft.Authorization/roleDefinitions/.parameters/rg.min.parameters.json
  arm/Microsoft.Authorization/roleDefinitions/.parameters/rg.parameters.json
  arm/Microsoft.Authorization/roleDefinitions/.parameters/sub.min.parameters.json
  arm/Microsoft.Authorization/roleDefinitions/.parameters/sub.parameters.json
  arm/Microsoft.Authorization/roleDefinitions/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/roleDefinitions/managementGroup/version.json
  arm/Microsoft.Authorization/roleDefinitions/readme.md
  arm/Microsoft.Authorization/roleDefinitions/resourceGroup/.bicep/nested_cuaId.bicep
  arm/Microsoft.Authorization/roleDefinitions/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleDefinitions/resourceGroup/version.json
  arm/Microsoft.Authorization/roleDefinitions/subscription/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/subscription/readme.md
  arm/Microsoft.Authorization/roleDefinitions/subscription/version.json
Due: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

fixed parameters for role definitions
  arm/Microsoft.Authorization/roleDefinitions/.parameters/sub.parameters.json
Due: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml

updated names for role definitions
  arm/Microsoft.Authorization/roleDefinitions/.parameters/mg.min.parameters.json
  arm/Microsoft.Authorization/roleDefinitions/.parameters/mg.parameters.json
  arm/Microsoft.Authorization/roleDefinitions/.parameters/rg.parameters.json
Due: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml

fix management group scope
  arm/Microsoft.Authorization/roleDefinitions/.parameters/mg.parameters.json
Due: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml

add AAAA, CNAME and MX records
  arm/Microsoft.Network/privateDnsZones/AAAA/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/readme.md
  arm/Microsoft.Network/privateDnsZones/AAAA/version.json
  arm/Microsoft.Network/privateDnsZones/CNAME/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/readme.md
  arm/Microsoft.Network/privateDnsZones/CNAME/version.json
  arm/Microsoft.Network/privateDnsZones/MX/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/MX/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/MX/readme.md
  arm/Microsoft.Network/privateDnsZones/MX/version.json
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

adding PTR and SOA records
  arm/Microsoft.Network/privateDnsZones/CNAME/readme.md
  arm/Microsoft.Network/privateDnsZones/PTR/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/readme.md
  arm/Microsoft.Network/privateDnsZones/PTR/version.json
  arm/Microsoft.Network/privateDnsZones/SOA/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/readme.md
  arm/Microsoft.Network/privateDnsZones/SOA/version.json
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

adding SOA, SRV and TXT records
  arm/Microsoft.Network/privateDnsZones/SRV/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/readme.md
  arm/Microsoft.Network/privateDnsZones/SRV/version.json
  arm/Microsoft.Network/privateDnsZones/TXT/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/readme.md
  arm/Microsoft.Network/privateDnsZones/TXT/version.json
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
