Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

condition
  .github/actions/templates/getWorkflowInput/action.yml
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

init output
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

add Azure Active Directory as admin authentication
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Sql/servers/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

publish needs
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

publish double
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

always
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

pester need
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

test remove version
  arm/Microsoft.Resources/resourceGroups/version.json
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

update documentation and format code
  arm/Microsoft.Sql/servers/.parameters/parameters.json
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Sql/servers/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Sql/servers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Add test module locally (#1104)
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Contribution guide - Validate module locally.md
  docs/wiki/Contribution guide.md
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Load Balancer: Add better support for privateLB (#1089)
  .azuredevops/modulePipelines/ms.network.loadbalancers.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/ms.network.loadbalancers.yml
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Network/loadBalancers/.parameters/internal.parameters.json
  arm/Microsoft.Network/loadBalancers/.parameters/min.parameters.json
  arm/Microsoft.Network/loadBalancers/deploy.bicep
  arm/Microsoft.Network/loadBalancers/readme.md
  utilities/pipelines/dependencies/Microsoft.Network/loadBalancers/parameters/internal.parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update suggested administrators principalType
  arm/Microsoft.Sql/servers/.parameters/parameters.json
Due: none

test analisys services
  .github/workflows/ms.analysisservices.servers.yml
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

change suggested admin sid parameter to deploymentSpId
  arm/Microsoft.Sql/servers/.parameters/parameters.json
Due: none

rg version back
  arm/Microsoft.Resources/resourceGroups/version.json
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

condition
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

Update to latest
  docs/wiki/Getting started - Setup environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

skip false
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

skip false aserv
  .github/workflows/ms.analysisservices.servers.yml
Due: none

remove rg version
  arm/Microsoft.Resources/resourceGroups/version.json
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

namePrefix reverted
  settings.json
Due: none

add version back
  arm/Microsoft.Resources/resourceGroups/version.json
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

initial import
  constructs/Microsoft.ContainerInstance/acr.bicep
  constructs/Microsoft.ContainerInstance/acr.parameters.json
  constructs/Microsoft.ContainerInstance/cluster.bicep
  constructs/Microsoft.ContainerInstance/cluster.parameters.json
  constructs/Microsoft.ContainerInstance/hub-default.bicep
  constructs/Microsoft.ContainerInstance/hub-default.parameters.json
  constructs/Microsoft.ContainerInstance/spoke.bicep
  constructs/Microsoft.ContainerInstance/spoke.parameters.json
Due: none

initial platform file added
  constructs/Microsoft.ContainerInstance/scenario A/platform.bicep
Due: none

getinputscript
  .github/actions/templates/getWorkflowInput/scripts/Get-WorkflowDefaultInput.ps1
Due: none

change condition
  .github/workflows/ms.analysisservices.servers.yml
Due: none

change condition rg
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

adding cluster - not fnished yet
  constructs/Microsoft.ContainerInstance/scenario A/cluster.bicep
Due: none

change condition rg 2
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

event false
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

event false skipValidation
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

event false skipValidation no dep
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

event false skipValidation or
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

fix
  constructs/Microsoft.ContainerInstance/scenario A/cluster.bicep
Due: none

print in action
  .github/actions/templates/getWorkflowInput/action.yml
Due: none

print in action cond
  .github/workflows/ms.resources.resourcegroups.yml
Due: none

cond need
  .github/workflows/ms.resources.resourcegroups.yml
Due: none
