Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

PR preparation
  .vscode/launch.json
Due: none

Update deploy.bicep
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update network api fwpol and nw
  arm/Microsoft.Network/applicationGateways/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/firewallPolicies/deploy.bicep
  arm/Microsoft.Network/firewallPolicies/readme.md
  arm/Microsoft.Network/firewallPolicies/ruleCollectionGroups/deploy.bicep
  arm/Microsoft.Network/firewallPolicies/ruleCollectionGroups/readme.md
  arm/Microsoft.Network/firewallPolicies/ruleGroups/deploy.bicep
  arm/Microsoft.Network/networkWatchers/connectionMonitors/deploy.bicep
  arm/Microsoft.Network/networkWatchers/connectionMonitors/readme.md
  arm/Microsoft.Network/networkWatchers/flowLogs/deploy.bicep
  arm/Microsoft.Network/networkWatchers/flowLogs/readme.md
  arm/Microsoft.Network/networkWatchers/readme.md
  arm/Microsoft.Network/virtualNetworks/subnets/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update readme.md
  arm/Microsoft.Sql/servers/readme.md
Due: none

Update ms.storage.storageaccounts.yml
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml
Due: none

Updated to latest
  arm/.global/global.module.tests.ps1
  arm/Microsoft.ApiManagement/service/.parameters/max.parameters.json
  arm/Microsoft.ApiManagement/service/.parameters/parameters.json
  arm/Microsoft.ApiManagement/service/apis/policies/readme.md
  arm/Microsoft.ApiManagement/service/apis/readme.md
  arm/Microsoft.CognitiveServices/accounts/.parameters/parameters.json
  arm/Microsoft.Compute/disks/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/virtualHubs/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/virtualHubs/deploy.bicep
  arm/Microsoft.Network/virtualHubs/hubRouteTables/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/virtualHubs/hubRouteTables/deploy.bicep
  arm/Microsoft.Network/virtualHubs/hubVirtualNetworkConnections/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/virtualHubs/hubVirtualNetworkConnections/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/topics/.bicep/nested_cuaId.bicep
  arm/Microsoft.ServiceBus/namespaces/topics/authorizationRules/.bicep/nested_cuaId.bicep
  arm/Microsoft.ServiceBus/namespaces/topics/authorizationRules/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/topics/deploy.bicep
  arm/Microsoft.ServiceFabric/clusters/.bicep/nested_cuaId.bicep
  arm/Microsoft.ServiceFabric/clusters/applicationTypes/.bicep/nested_cuaId.bicep
  docs/wiki/ModulesDesign.md
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

update known issue section
  docs/wiki/Home.md
  docs/wiki/Known issues.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update networking API versions (#1060)
  arm/Microsoft.Network/applicationGateways/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/firewallPolicies/deploy.bicep
  arm/Microsoft.Network/firewallPolicies/readme.md
  arm/Microsoft.Network/firewallPolicies/ruleCollectionGroups/deploy.bicep
  arm/Microsoft.Network/firewallPolicies/ruleCollectionGroups/readme.md
  arm/Microsoft.Network/firewallPolicies/ruleGroups/deploy.bicep
  arm/Microsoft.Network/networkWatchers/connectionMonitors/deploy.bicep
  arm/Microsoft.Network/networkWatchers/connectionMonitors/readme.md
  arm/Microsoft.Network/networkWatchers/flowLogs/deploy.bicep
  arm/Microsoft.Network/networkWatchers/flowLogs/readme.md
  arm/Microsoft.Network/networkWatchers/readme.md
  arm/Microsoft.Network/virtualNetworks/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/readme.md
  arm/Microsoft.Network/virtualNetworks/subnets/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/subnets/readme.md
  arm/Microsoft.Network/virtualNetworks/virtualNetworkPeerings/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/virtualNetworkPeerings/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update .
  docs/wiki/Known issues.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update .azuredevops/platformPipelines/platform.dependencies.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Update constructs/Microsoft.Authorization/roleAssignments-multiRolesMultiPrincipals/.bicep/nested_rbac.bicep
  constructs/Microsoft.Authorization/roleAssignments-multiRolesMultiPrincipals/.bicep/nested_rbac.bicep
Due: none

Adding origin and cleaning up function
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
Due: none

Wiki restructuring - known issues (#1064)
  docs/wiki/Home.md
  docs/wiki/Known issues.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update TestingDesign.md
  docs/wiki/TestingDesign.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  arm/Microsoft.Network/vpnGateways/.parameters/parameters.json
Due: none

Updated roles
  arm/Microsoft.KeyVault/vaults/.bicep/nested_rbac.bicep
Due: none

Updated conditions
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.KeyVault/vaults/keys/deploy.bicep
  arm/Microsoft.KeyVault/vaults/secrets/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

ADO wiki updated
  .azuredevops/platformPipelines/platform.updateReadMe.yml
  utilities/tools/Set-ReadMeModuleTable.ps1
  utilities/tools/helper/Get-ModulesAsMarkdownTable.ps1
Due: none

Update to latest
  utilities/pipelines/dependencies/Microsoft.Compute/virtualMachines/parameters/parameters.json
Due: none

Update to latest
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: none

adding ADO pipeline
  .azuredevops/modulePipelines/ms.eventgrid.systemtopics.yml
Due: none

rename dir
  arm/Microsoft.Network/privateDnsZones/AAAA_/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA_/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA_/readme.md
  arm/Microsoft.Network/privateDnsZones/AAAA_/version.json
  arm/Microsoft.Network/privateDnsZones/A_/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/A_/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/A_/readme.md
  arm/Microsoft.Network/privateDnsZones/A_/version.json
  arm/Microsoft.Network/privateDnsZones/CNAME_/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME_/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME_/readme.md
  arm/Microsoft.Network/privateDnsZones/CNAME_/version.json
  arm/Microsoft.Network/privateDnsZones/MX_/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/MX_/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/MX_/readme.md
  arm/Microsoft.Network/privateDnsZones/MX_/version.json
  arm/Microsoft.Network/privateDnsZones/PTR_/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/PTR_/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/PTR_/readme.md
  arm/Microsoft.Network/privateDnsZones/PTR_/version.json
  arm/Microsoft.Network/privateDnsZones/SOA_/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/SOA_/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SOA_/readme.md
  arm/Microsoft.Network/privateDnsZones/SOA_/version.json
  arm/Microsoft.Network/privateDnsZones/SRV_/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/SRV_/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SRV_/readme.md
  arm/Microsoft.Network/privateDnsZones/SRV_/version.json
  arm/Microsoft.Network/privateDnsZones/TXT_/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/TXT_/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/TXT_/readme.md
  arm/Microsoft.Network/privateDnsZones/TXT_/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

rename dir
  arm/Microsoft.Network/privateDnsZones/A/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/A/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/A/readme.md
  arm/Microsoft.Network/privateDnsZones/A/version.json
  arm/Microsoft.Network/privateDnsZones/AAAA/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/readme.md
  arm/Microsoft.Network/privateDnsZones/AAAA/version.json
  arm/Microsoft.Network/privateDnsZones/CNAME/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/readme.md
  arm/Microsoft.Network/privateDnsZones/CNAME/version.json
  arm/Microsoft.Network/privateDnsZones/MX/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/MX/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/MX/readme.md
  arm/Microsoft.Network/privateDnsZones/MX/version.json
  arm/Microsoft.Network/privateDnsZones/PTR/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/readme.md
  arm/Microsoft.Network/privateDnsZones/PTR/version.json
  arm/Microsoft.Network/privateDnsZones/SOA/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/readme.md
  arm/Microsoft.Network/privateDnsZones/SOA/version.json
  arm/Microsoft.Network/privateDnsZones/SRV/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/readme.md
  arm/Microsoft.Network/privateDnsZones/SRV/version.json
  arm/Microsoft.Network/privateDnsZones/TXT/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/readme.md
  arm/Microsoft.Network/privateDnsZones/TXT/version.json
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

change to capital letters
  arm/Microsoft.Network/privateDnsZones/A/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/MX/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

add new parameter file
  .azuredevops/modulePipelines/ms.network.privatednszones.yml
  .github/workflows/ms.network.privatednszones.yml
  arm/Microsoft.Network/privateDnsZones/.parameters/min.parameters.json
  arm/Microsoft.Network/privateDnsZones/.parameters/parameters.json
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated GitHub and ADO pipelines
  .azuredevops/platformPipelines/platform.updateReadMe.yml
  .github/workflows/platform.updateReadMe.yml
  docs/wiki/UtilitiesSetGitHubReadMeModuleTable.md
  utilities/tools/Set-GitHubReadMeModuleTable.ps1
  utilities/tools/Set-ReadMeModuleTable.ps1
  utilities/tools/helper/Get-ModulesAsMarkdownTable.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

fix
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix
  arm/Microsoft.Network/privateDnsZones/.parameters/parameters.json
Due: none

alignement between tasks
  .azuredevops/platformPipelines/platform.updateReadMe.yml
Due: none

fixed default values
  utilities/tools/Set-ReadMeModuleTable.ps1
Due: none

Update REDAMEs from ADO pipelines added (#1067)
  .azuredevops/platformPipelines/platform.updateReadMe.yml
  .github/workflows/platform.updateReadMe.yml
  docs/wiki/UtilitiesSetGitHubReadMeModuleTable.md
  utilities/tools/Set-ReadMeModuleTable.ps1
  utilities/tools/helper/Get-ModulesAsMarkdownTable.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update arm/Microsoft.Compute/virtualMachines/readme.md
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: none
